{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/support.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.support -->
<section class="support notice-detail content page-start">
  <div class="contact-detail max-1280">
    <div class="detail-head">
      <p class="notice-title">{{notice.title}}</p>
      <p>작성일 {{notice.created_at|date:'Y-m-d'}}</p>
    </div>
    <div class="detail-body">
      <div class="detail-wrap">
        <div class="detail-body-info">
          <p class="writer">{{notice.author}}</p>
        </div>
        <p class="contact-description">{{notice.content | safe}}</p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


{% block extrascripts %}
<script>
  $(function() {
    $('.sub-banner').css('background-image', "url('/static/images/support/support_bg5.png')")
  });
</script>
{% endblock extrascripts %}