{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/company.css">
<link rel="stylesheet" href="/static/css/support.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.support -->
<section class="video content page-start">
  <div class="video-wrap max-1280">

    {% for video in video_list %}
    <div class="video-item" onclick="location.href=''">
      <div class="img-wrap" style="background-image: url('/media/{{video.image}}');">
        <!-- <img src="/media/{{video.image}}" class="image-changable" alt=""> -->
      </div>
      <div class="text-wrap">
        <p class="category">Solution</p>
        <h3 class="title">{{video.title}}</h3>
        <p class="description">{{video.content}}</p>
        <div class="bottom">
          <p class="date">{{video.created_at|date:'Y-m-d'}}</p>
          <img src="/static/images/arrow_detail.png" alt="">
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>

{% include "paginator.html" %}

{% endblock content %}


{% block extrascripts %}
<script>
  $(function () {
    $('.sub-banner').css('background-image', "url('/static/images/support/support_bg4.png')")
  });
</script>

<script>
  $('.table-row').click(function () {
    $(this).next().slideToggle(500);
    $(this).toggleClass('active');
    if ($(this).hasClass('active') == true) {
      $(this).find('.dropdown-icon i').attr('class', 'fas fa-chevron-up');
    } else {
      $(this).find('.dropdown-icon i').attr('class', 'fas fa-chevron-down');
    }
  });
</script>
{% endblock extrascripts %}