{% extends "base.html" %}


{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/support.css">
{% endblock extraheads %}


{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.support -->
<section class="support page-start max-1280">
  <p class="total">Total <span>{{total_count}}</span></p>
  <div class="support-table">
    <div class="table-head">
      <p>번호</p>
      <p>제&emsp;&emsp;목</p>
      <p>작성자</p>
      <p>작성일</p>
      <p>조회</p>
    </div>
    <div class="table-body">

      {% for notice in notice_list %}
      <div class="table-row" onclick="location.href='/support/notice/{{notice.id}}'">
        <p>{{notice.number}}</p>
        <p class="notice-title">{{notice.title}}</p>
        <p>{{notice.author}}</p>
        <p>{{notice.date |date:'Y-m-d'}}</p>
        <p>{{notice.views}}</p>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% include "paginator.html" %}

{% endblock content %}


{% block extrascripts %}
<script>
  $(function () {
    $('.sub-banner').css('background-image', "url('/static/images/support/support_bg1.png')")
  });
</script>
{% endblock extrascripts %}