{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/company.css">
<link rel="stylesheet" href="/static/css/support.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.support -->
<section class="video content page-start">
  <div class="video-wrap">
    <div class="video-item" onclick="location.href=''">
      <div class="img-wrap">
        <img src="/static/images/support/sample-video1.png" alt="">
      </div>
      <div class="text-wrap">
        <p class="category">Solution</p>
        <h3 class="title">Yealink Meeting
          클라우드 화상회의 솔루션 소개</h3>
        <p class="description">Yealink Meeting(예링크 미팅) 클라우드 화상회의 
          솔루션을 소개합니다.</p>
        <div class="bottom">
          <p class="date">2021.02.15</p>
          <img src="/static/images/arrow_detail.png" alt="">
        </div>
      </div>
    </div>

    <div class="video-item" onclick="location.href=''">
      <div class="img-wrap">
        <img src="/static/images/support/sample-video2.png" alt="">
      </div>
      <div class="text-wrap">
        <p class="category">Solution</p>
        <h3 class="title">Yealink Meeting
          클라우드 화상회의 솔루션 소개</h3>
        <p class="description">Yealink Meeting(예링크 미팅) 클라우드 화상회의 
          솔루션을 소개합니다.</p>
        <div class="bottom">
          <p class="date">2021.02.15</p>
          <img src="/static/images/arrow_detail.png" alt="">
        </div>
      </div>
    </div>

    <div class="video-item" onclick="location.href=''">
      <div class="img-wrap">
        <img src="/static/images/support/sample-video3.png" alt="">
      </div>
      <div class="text-wrap">
        <p class="category">Solution</p>
        <h3 class="title">Yealink Meeting
          클라우드 화상회의 솔루션 소개</h3>
        <p class="description">Yealink Meeting(예링크 미팅) 클라우드 화상회의 
          솔루션을 소개합니다.</p>
        <div class="bottom">
          <p class="date">2021.02.15</p>
          <img src="/static/images/arrow_detail.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


{% block extrascripts %}
<script>
  $(function() {
    $('.sub-banner').css('background-image', "url('/static/images/support/support_bg4.png')")
  });
</script>

<script>
  $('.table-row').click(function(){
    $(this).next().slideToggle(500);
    $(this).toggleClass('active');
    if($(this).hasClass('active') == true) {
      $(this).find('.dropdown-icon i').attr('class', 'fas fa-chevron-up');
    } else {
      $(this).find('.dropdown-icon i').attr('class', 'fas fa-chevron-down');
    }
  });
</script>
{% endblock extrascripts %}