{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/support.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.support -->
<section class="support content page-start">
  <div class="support-header">
    <p class="total">Total <span>12</span></p>
    <a href="javascript:void(0)" class="btn-contact">문의하기</a>
  </div>
  <div class="support-table">
    <div class="table-head">
      <p>번호</p>
      <p>제&emsp;&emsp;목</p>
      <p>작성자</p>
      <p>작성일</p>
      <p>조회</p>
    </div>
    <div class="table-body">
      <div class="table-row">
        <p>1</p>
        <p class="notice-title">[전시회] SMART TECH KOREA 2021에 Yealink가 참가합니다.	</p>
        <p>(주)지유글로벌</p>
        <p>2021-06-17</p>
        <p>12</p>
      </div>
      <div class="table-row">
        <p>2</p>
        <p class="notice-title">[전시회] SMART TECH KOREA 2021에 Yealink가 참가합니다.	</p>
        <p>(주)지유글로벌</p>
        <p>2021-06-17</p>
        <p>12</p>
      </div>
      <div class="table-row">
        <p>3</p>
        <p class="notice-title">[전시회] SMART TECH KOREA 2021에 Yealink가 참가합니다.	</p>
        <p>(주)지유글로벌</p>
        <p>2021-06-17</p>
        <p>12</p>
      </div>
      <div class="table-row">
        <p>4</p>
        <p class="notice-title">[전시회] SMART TECH KOREA 2021에 Yealink가 참가합니다.	</p>
        <p>(주)지유글로벌</p>
        <p>2021-06-17</p>
        <p>12</p>
      </div>
      <div class="table-row">
        <p>5</p>
        <p class="notice-title">[전시회] SMART TECH KOREA 2021에 Yealink가 참가합니다.	</p>
        <p>(주)지유글로벌</p>
        <p>2021-06-17</p>
        <p>12</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


{% block extrascripts %}
<script>
  $(function() {
    $('.sub-banner').css('background-image', "url('/static/images/support/support_bg4.png')")
  });
</script>
{% endblock extrascripts %}