{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/company.css">
<link rel="stylesheet" href="/static/css/support.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<div class="tab-menu tab-menu--partner page-start">
  <div class="tab-box">
    <a href="/support/download?type=codec" class="btn-tab {{active.codec}}">코덱</a>
    <div class="line-vertical"></div>
    <a href="/support/download?type=camera" class="btn-tab {{active.camera}}">카메라</a>
    <div class="line-vertical"></div>
    <a href="/support/download?type=speaker_phone" class="btn-tab {{active.speaker_phone}}">스피커폰</a>
    <div class="line-vertical"></div>
    <a href="/support/download?type=guide" class="btn-tab {{active.guide}}">사용자 가이드</a>
    <div class="line-vertical"></div>
    <a href="/support/download?type=software" class="btn-tab {{active.software}}">소프트웨어</a>
  </div>
</div>


<!-- section.search -->
<section class="search">
  <form action="" id="searchForm">
    <select name="type">
      <option value="all">전체</option>
      <option value="codec">코덱</option>
      <option value="camera">카메라</option>
      <option value="speaker_phone">스피커폰</option>
      <option value="guide">사용자 가이드</option>
      <option value="software">소프트웨어</option>
    </select>
    <input type="text" name="keyword"/>
  </form>
  <div class="search-icon" onclick="document.getElementById('searchForm').submit();">
    <i class="fas fa-search"></i>
  </div>
</section>


<!-- section.support -->
<section class="support download">
  <p class="total">Total <span>{{product_list.count}}</span></p>
  <div class="support-table download-table">
    <div class="table-body">


      {% for product in product_list %}
      
      <div class="table-row">
        <p>{{forloop.counter}}</p>
        <div class="download-title">
          <p>{{product.name}}</p>
          <div class="category-download">
            <span>Product</span>
            <span>｜</span>
            <span>{{product.type}}</span>
          </div>
        </div>
        <p>{{product.created_at|date:'Y-m-d'}}</p>
        <p class="dropdown-icon">
          <i class="fas fa-chevron-down"></i>
        </p>
      </div>

      <div class="download-wrap">
        <div class="btn-wrap">

          {% if product.brochure %}
          <a href="/media/{{product.brochure}}" download>브로슈어<span
              class="material-icons-outlined">file_download</span></a>
          {% endif %}

          {% if product.manual %}
          <a href="/media/{{product.manual}}" download>메뉴얼<span
              class="material-icons-outlined">file_download</span></a>
          {% endif %}

          {% if product.sheet %}
          <a href="/media/{{product.sheet}}" download>규격서<span class="material-icons-outlined">file_download</span></a>
          {% endif %}

        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% include "paginator.html" %}

{% endblock content %}


{% block extrascripts %}
<script>
  $(function () {
    $('.sub-banner').css('background-image', "url('/static/images/support/support_bg3.png')")
  });
</script>

<script>
  $('.table-row').click(function () {
    $(this).next().slideToggle(500);
    $(this).toggleClass('active');
    if ($(this).hasClass('active') == true) {
      $(this).find('.dropdown-icon i').attr('class', 'fas fa-chevron-up');
    } else {
      $(this).find('.dropdown-icon i').attr('class', 'fas fa-chevron-down');
    }
  });
</script>
{% endblock extrascripts %}