{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/product.css">
{% endblock extraheads %}

{% block content %}
<!-- section.product-detail -->
<section class="product-detail page-start max-1280">
    <div class="detail-img-wrap">
        <div class="detail-img main-img">
            <img src="/media/{{thumbnail.image}}" alt="">
        </div>
        <div class="img-group">
            {% for image in image_list %}
            <div class="detail-img sub-img">
                <img src="/media/{{image.image}}" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="detail-text-wrap">
        <div class="line"></div>
        <div class="text-box">
            <p class="category">{{product.category.main_category}}</p>
            <p class="description-1">{{product.title}}</p>
            <h2 class="title">
                {{product.name}} <span class="description-2">{{product.content}}</span>
            </h2>
            <div class="btn-group">

                {% if product.brochure %}
                <a href="/media/{{product.brochure}}" class="btn-item" download>브로슈어</a>
                {% endif %}

                {% if product.manual %}
                <a href="/media/{{product.manual}}" class="btn-item" download>매뉴얼</a>
                {% endif %}

                <a href="" class="btn-item">문의하기</a>
            </div>
        </div>
    </div>
</section>

<div class="detail-full-image max-1280">
    {% for image in detail_image_list %}
    <img src="/media/{{image.image}}" alt="">
    {% endfor %}
</div>

<section class="detail-bottom">
    <div onclick="location.href='/company'" class="btn-img"
        style="background-image: url(/static/images/bottom_img1.png);">
        <div class="overlay">
            <h2>회사소개</h2>
            <p>Company Introduation</p>
        </div>
    </div>
    <div onclick="location.href='/support/download'" class="btn-img"
        style="background-image: url(/static/images/bottom_img2.png);">
        <div class="overlay">
            <h2>브로슈어</h2>
            <p>Brochure</p>
        </div>
    </div>
</section>
{% endblock content %}


{% block extrascripts %}
<script>
    $('header').addClass('black');
</script>
{% endblock extrascripts %}