{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/product.css">
{% endblock extraheads %}

{% block content %}
<!-- section.product-detail -->
<section class="product-detail page-start max-1280">
    <div class="detail-img-wrap">
        <div class="detail-img main-img">
          <div class="img-wrap" style="background-image: url('/media/{{thumbnail.image}}');"></div>
        </div>
        <div class="img-group">
            {% for image in image_list %}
            <div class="detail-img sub-img">
              <div class="img-wrap" style="background-image: url('/media/{{image.image}}');"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="detail-text-wrap">
        <div class="line"></div>
        <div class="text-box">
            <p class="category">{{product.category.main_category}}</p>
            <p class="description-1">{{product.title}}</p>
            <h2 class="title">
                {{product.name}} <span class="description-2">{{product.content}}</span>
            </h2>
            <div class="btn-group">

                {% if product.brochure %}
                <a href="/media/{{product.brochure}}" class="btn-item" download>브로슈어</a>
                {% else%}
                <a href="#" class="btn-item">브로슈어</a>
                {% endif %}

                {% if product.manual %}
                <a href="/media/{{product.manual}}" class="btn-item" download>매뉴얼</a>
                {% else %}
                <a href="#" class="btn-item">매뉴얼</a>
                {% endif %}

                <a href="javascript:void(0)" class="open_modal btn-item">문의하기</a>
            </div>
        </div>
    </div>
</section>

<div class="detail-full-image max-1280">
    {% for image in detail_image_list %}
    <img src="/media/{{image.image}}" alt="">
    {% endfor %}
</div>

<section class="detail-bottom">
    <div onclick="location.href='/company'" class="btn-img"
        style="background-image: url(/static/images/bottom_img1.png);">
        <div class="overlay">
            <h2>회사소개</h2>
            <p>Company Introduation</p>
        </div>
    </div>
    <div onclick="location.href='/support/download'" class="btn-img"
        style="background-image: url(/static/images/bottom_img2.png);">
        <div class="overlay">
            <h2>브로슈어</h2>
            <p>Brochure</p>
        </div>
    </div>
</section>

<section class="modal_wrap">
  <article class="modal_cnt">
    <div class="modal_body">
      <img src="/static/images/product/talk.png" alt="">
      <div class="line"></div>
      <h3>CONTACT US</h3>
      <div class="policy-content">
        <p><span>• 대표 전화</span>  02 461 0741</p>
        <p><span>• 제품 문의</span>  help@guglobal.com</p>
        <p><span>• 영업 문의</span>  sales@guglobal.com</p>
      </div>
    </div>
    <a href="javascript:void(0)" class="close_btn">X</a>
  </article>
  <div class="modal_dim"></div>
</section>
{% endblock content %}


{% block extrascripts %}
<script>
    // $('header').addClass('black');
    $('header').css('background-color', 'black');
    $('header .btn-menu').mouseover(function() {
      $('header').css('background-color', '#fff')
    });
    $('.header-content').mouseleave(function() {
      $('header').css('background-color', 'black')
    });
</script>

<script>
  $body = $('body');
  $modalWrap = $('.modal_wrap');

  $('.open_modal').on('click', function () {
    $body.addClass('modal_in');
    $modalWrap.fadeIn(300);
    $body.css('padding-right', getScrollWidth());
  });

  $('.close_btn, .modal_dim').on('click', function () {
    var speed = 300;
    $modalWrap.fadeOut(speed);
    setTimeout(function () {
      $body.removeClass('modal_in');
      $body.css('padding-right', 0)
    }, speed)
  });

  function getScrollWidth() {
    var body = document.querySelector('body');
    var scrollDiv = document.createElement('div');
    scrollDiv.className = 'fake_sjwidth';
    body.appendChild(scrollDiv);
    var scrollbarWidth = $(document).height() > $(window).height() ? scrollDiv.offsetWidth - scrollDiv.clientWidth :
    0;

    body.removeChild(scrollDiv);
    return scrollbarWidth;
  }
</script>


<script>
  $('.sub-img').click(function(){
    $main_img = $('.main-img .img-wrap').attr('style');
    $('.main-img .img-wrap').attr('style', $(this).find('.img-wrap').attr('style'));
    // $(this).find('.img-wrap').attr('style', $main_img);
  });
</script>
{% endblock extrascripts %}