{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/product.css">
<link rel="stylesheet" href="/static/css/company.css">
{% endblock extraheads %}


{% block content %}
<!-- section.sub-banner -->
{% include "sub_banner.html" %}


<!-- section.product-tab -->
{% if has_sub_category %}
<div class="tab-menu tab-menu--partner page-start">
    <div class="tab-box">
        <a href="/products/{{current_page.1}}/{{current_page.2}}?주변기기=False" class="btn-tab {{sub_active.0}}">{{current_page.2}}</a>
        <div class="line-vertical"></div>
        <a href="/products/{{current_page.1}}/{{current_page.2}}?주변기기=True" class="btn-tab {{sub_active.1}}">주변기기</a>
    </div>
</div>
{% endif %}


<!-- section.product_list -->
<section class="product-list page-start max-1280">

    {% for product in product_list %}
    <div class="product-item" onclick="location.href='/products/detail/{{product.name}}'">
        <div class="product-img">
            <img src="/media/{{product.thumbnail}}" alt="">
        </div>
        <h2 class="product-title">[{{product.category.main_category}}] {{product.name}}</h2>
        <p class="product-description">{{product.title}}</p>
    </div>
    {% endfor %}

<!--
    <div class="product-item">
        <div class="product-img">
            <img src="/static/images/product/p_sample1.png" alt="">
        </div>
        <h2 class="product-title">[Yealink] UVC84</h2>
        <p class="product-description">4K UHD 비디오 카메라</p>
    </div>
    <div class="product-item">
        <div class="product-img">
            <img src="/static/images/product/p_sample2.png" alt="">
        </div>
        <h2 class="product-title">[Yealink] UVC84</h2>
        <p class="product-description">4K UHD 비디오 카메라</p>
    </div>
    <div class="product-item">
        <div class="product-img">
            <img src="/static/images/product/p_sample3.png" alt="">
        </div>
        <h2 class="product-title">[Yealink] UVC84</h2>
        <p class="product-description">4K UHD 비디오 카메라</p>
    </div>
    <div class="product-item">
        <div class="product-img">
            <img src="/static/images/product/p_sample4.png" alt="">
        </div>
        <h2 class="product-title">[Yealink] UVC84</h2>
        <p class="product-description">4K UHD 비디오 카메라</p>
    </div>
    <div class="product-item">
        <div class="product-img">
            <img src="/static/images/product/p_sample1.png" alt="">
        </div>
        <h2 class="product-title">[Yealink] UVC84</h2>
        <p class="product-description">4K UHD 비디오 카메라</p>
    </div>
    <div class="product-item">
        <div class="product-img">
            <img src="/static/images/product/p_sample2.png" alt="">
        </div>
        <h2 class="product-title">[Yealink] UVC84</h2>
        <p class="product-description">4K UHD 비디오 카메라</p>
    </div>
    <div class="product-item">
        <div class="product-img">
            <img src="/static/images/product/p_sample3.png" alt="">
        </div>
        <h2 class="product-title">[Yealink] UVC84</h2>
        <p class="product-description">4K UHD 비디오 카메라</p>
    </div>
    <div class="product-item">
        <div class="product-img">
            <img src="/static/images/product/p_sample4.png" alt="">
        </div>
        <h2 class="product-title">[Yealink] UVC84</h2>
        <p class="product-description">4K UHD 비디오 카메라</p>
    </div>
-->

</section>
{% endblock content %}


{% block extrascripts %}
<script>
    $(function () {
        $('.sub-banner').css('background-image', "url('/static/images/product/product_bg.png')")
    });
</script>
{% endblock extrascripts %}