/* section.company-intro */
section.company-intro .img-wrap,
section.company-intro .img-wrap img {
  width: 100%;
}

/* org */
section.company-intro.org-wrap {
  padding-bottom: 300px;
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
}
section.company-intro .img-wrap.org-img {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}
section.company-intro .img-wrap.org-img .position {
  position: absolute;
  font-family: "Noto Sans KR";
}
section.company-intro .img-wrap.org-img .box-title {
  position: absolute;
  font-family: 'KoPubDotumMedium';
}
section.company-intro .img-wrap.org-img .position.position--ceo {
  top: 97px;
  left: 50%;
  transform: translateX(-44%);
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #151414;
}
section.company-intro .img-wrap.org-img .box-title.box-title--ceo {
  top: 116px;
  left: 282px;
}
section.company-intro .img-wrap.org-img .position.position--middle {
  top: 333px;
  font-size: 25px;
}
section.company-intro .img-wrap.org-img .position.position--middle.team-1 {
  left: 75px;
}
section.company-intro .img-wrap.org-img .position.position--middle.team-2 {
  left: 279px;
}
section.company-intro .img-wrap.org-img .position.position--middle.team-3 {
  left: 479px;
}
section.company-intro .img-wrap.org-img .position.position--middle.team-4 {
  left: 671px;
}
section.company-intro .img-wrap.org-img .position.position--middle.team-5 {
  left: 873px;
}

section.company-intro .img-wrap.org-img .box-title.box-title--middle {
  top: 472px;
  font-size: 14px;
}
section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-1 {
  left: 48px;
}
section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-2 {
  left: 269px;
}
section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-3 {
  left: 482px;
}
section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-4 {
  left: 673px;
}
section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-5 {
  left: 903px;
}

section.company-intro .img-wrap.org-img .team-description {
  position: absolute;
  top: 512px;
  font-size: 12px;
  line-height: 18px;
  white-space: pre-line;
}
section.company-intro .img-wrap.org-img .team-description.team-1 {
  left: 48px;
}
section.company-intro .img-wrap.org-img .team-description.team-2 {
  left: 250px;
}
section.company-intro .img-wrap.org-img .team-description.team-3 {
  left: 450px;
}
section.company-intro .img-wrap.org-img .team-description.team-4 {
  left: 656px;
}
section.company-intro .img-wrap.org-img .team-description.team-5{
  left: 855px;
}

section.company-intro .img-wrap.org-img .box-title.box-title--middle-2 {
  position: absolute;
  top: 616px;
  font-size: 14px;
}
section.company-intro .img-wrap.org-img .box-title.box-title--middle-2.team-1 {
  left: 68px;
}
section.company-intro .img-wrap.org-img .box-title.box-title--middle-2.team-3 {
  left: 484px;
}

section.company-intro .img-wrap.org-img .team-description-2 {
  position: absolute;
  top: 662px;
  font-size: 12px;
  line-height: 18px;
  white-space: pre-line;
}
section.company-intro .img-wrap.org-img .team-description-2.team-1 {
  left: 48px;
}
section.company-intro .img-wrap.org-img .team-description-2.team-3 {
  left: 450px;
}


/* history */
section.history .img-wrap {
  position: relative;
  width: 1040px;
  margin: 0 auto;
  padding-bottom: 300px;
  box-sizing: border-box;
}
section.history .img-wrap .year-box h2 {
  font-size: 45px;
  color: #1A32C6;
  font-family: "Noto Sans KR";
}
section.history .img-wrap .year-box p {
  font-size: 20px;
  color: #151414;
  font-family: "Noto Sans KR";
}
section.history .img-wrap .year-box {
  position: absolute;
  left: 138px;
}
section.history .img-wrap .year-box.year-box--2009 {
  top: 115px;
}
section.history .img-wrap .year-box.year-box--2008 {
  top: 296px;
}
section.history .img-wrap .year-box.year-box--2007 {
  top: 505px;
}
section.history .img-wrap .year-box.year-box--2006 {
  top: 658px;
}

section.history .img-wrap .year-box.year-box--2010 {
  top: 115px;
}
section.history .img-wrap .year-box.year-box--2011 {
  top: 325px;
}
section.history .img-wrap .year-box.year-box--2012 {
  top: 566px;
}
section.history .img-wrap .year-box.year-box--2013 {
  top: 771px;
}
section.history .img-wrap .year-box.year-box--2014 {
  top: 956px;
}
section.history .img-wrap .year-box.year-box--2015 {
  top: 1137px;
}
section.history .img-wrap .year-box.year-box--2016 {
  top: 1316px;
}
section.history .img-wrap .year-box.year-box--2017 {
  top: 1500px;
}
section.history .img-wrap .year-box.year-box--2018 {
  top: 1681px;
}
section.history .img-wrap .year-box.year-box--2019 {
  top: 1860px;
}
section.history .img-wrap .year-box.year-box--2020 {
  top: 2045px;
}


/* .tab-menu */
.tab-menu {
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-menu .tab-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-menu .tab-box .line-vertical {
  height: 20px;
  width: 2px;
  margin: 0 15px;
  background-color: #D4D1D1;
}
.tab-menu .tab-box a.btn-tab {
  padding: 25px 10px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 34px;
}
.tab-menu .tab-box a.btn-tab.active {
  color: #1A32C6;
  font-weight: 600;
  border-bottom: 2px solid #1A32C6;
}


section.company-intro.partner {
  margin: 240px 0 350px;
}


section.company-intro {
  padding-bottom: 0;
}
section.company-intro .intro-wrap {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  gap: 65px;
}
h3.section-intro-title {
  font-size: 25px;
  color: #D4D4D4;
  margin-bottom: 60px;
  font-family: "Noto Sans KR", "san-serif";
  font-weight: 900;
}
section.company-intro .intro-wrap .intro-text h3 {
  font-family: 'ChosunKm';
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
section.company-intro .intro-wrap .intro-text h3 span {
  color: #1A32C6;
}
section.company-intro .intro-wrap .intro-text h1 {
  font-family: 'ChosunKm';
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 40px;
}
section.company-intro .intro-wrap .intro-text p {
  font-family: 'KoPubDotumMedium';
  font-size: 19px;
  color: #535353;
  line-height: 29px;
}
section.company-intro .intro-wrap .intro-text p span {
  color: #1A32C6;
  background-color: #EBECF8;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}
section.company-intro .intro-wrap .intro-text p span img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.img-bg,
.img-bg img {
  width: 100%;
  display: block;
}

/* section.philosophy */
section.philosophy {
  margin: 200px auto;
}
section.philosophy .philosophy-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 150px;
}
section.philosophy .philosophy-wrap .img-wrap {
  justify-self: right;
  width: 85%;
}
section.philosophy .philosophy-wrap .img-wrap img {
  width: 100%;
}
section.philosophy .philosophy-wrap .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
section.philosophy .philosophy-wrap .text-row {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 50px;
}
section.philosophy .philosophy-wrap .text-row .icon-wrap,
section.philosophy .philosophy-wrap .text-row .icon-wrap img {
  width: 100%;
}
section.philosophy .philosophy-wrap .text-row .text-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
section.philosophy .philosophy-wrap .text-row .text-box p {
  font-size: 18px;
}

/* section.ci */
section.ci {
  margin: 200px 150px;
}
section.ci h3.section-intro-title {
  margin: 0;
}
section.ci .ci-wrap {
  margin-bottom: 80px;
  display: flex;
  gap: 150px;
}
section.ci .ci-wrap .ci-description {
  margin-top: 5px;
  font-family: 'KoPubDotumMedium';
}
section.ci .ci-wrap .ci-description h2 {
  font-weight: 400;
}
section.ci .ci-wrap .ci-description h2 span {
  font-weight: 600;
}
section.ci .ci-wrap .ci-description p {
  font-size: 18px;
  color: #535353;
  font-family: 'Noto Sans KR';
  margin-top: 20px;
}
section.ci .ci-img,
section.ci .ci-img img {
  width: 100%;
}


section.company-intro.partner {
  margin: 150px 0 150px;
  padding: 0;
}



/* section.portfolio */
section.portfolio {
  margin: 150px auto;
}
section.portfolio .portfolio-wrap {
  width: 100%;
  position: relative;
  margin-top: 400px;
  display: flex;
  justify-content: right;
}
section.portfolio .portfolio-wrap .portfolio-description {
  position: absolute;
  bottom: 100px;
  left: -50px;
  /* width: 580px;
  height: 775px; */
  width: 380px;
  height: 475px;
  padding: 80px 40px 110px;
  box-sizing: border-box;
  background-color: #072DD6;
  color: #fff;
  font-family: "Noto Sans KR";
}
section.portfolio .portfolio-wrap .portfolio-description h2 {
  font-size: 23px;
}
section.portfolio .portfolio-wrap .portfolio-description p {
  font-size: 19px;
  margin: 30px 0 60px;
}
section.portfolio .portfolio-wrap .portfolio-description h3 {
  font-size: 20px;
  margin: 20px 0 0;
}
section.portfolio .portfolio-wrap .portfolio-description .line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 0 0 20px;
}
section.portfolio .portfolio-wrap img {
  width: 100%;
}


/* section.example */
section.example {
  margin: 150px auto;
}
section.example h2 {
  font-size: 38px;
  letter-spacing: 8px;
  text-align: center;
}
section.example .example-wrap {
  margin-top: 70px;
}
section.example .example-wrap .example-item {
  border: 3px solid #c2c2c2;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  align-items: center;
  justify-content: center;
  padding: 90px 50px 170px;
  gap: 50px;
  margin: 20px 0;
}
section.example .example-wrap .example-item .ex-text h3 {
  font-size: 28px;
  font-family: "Noto Sans KR";
  margin-bottom: 40px;
}
section.example .example-wrap .example-item .ex-text p {
  color: #535353;
  font-size: 25px;
  margin: 10px 0;
}
section.example .example-wrap .example-item .ex-text p span {
  color: #1A32C6;
  font-size: 30px;
}
section.example .example-wrap .example-item .ex-type {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: flex-end;
  gap: 10px;
}
section.example .example-wrap .example-item .ex-type p {
  letter-spacing: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ababab;
}
section.example .example-wrap .example-item .ex-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 440px;
}
section.example .example-wrap .example-item img {
  width: 100%;
}


/* certification */
section.certification {
  padding: 150px 0;
}



/* 반응형 */
@media all and (max-width: 1920px) {
  /* section.portfolio .portfolio-wrap .portfolio-description {
    width: 480px;
    height: 575px;
  } */

  section.philosophy .philosophy-wrap .img-wrap {
    width: 65%;
  }
}
@media all and (max-width: 1440px) {
  section.philosophy {
    margin: 150px 50px;
  }
  section.philosophy .philosophy-wrap {
    gap: 50px;
  }
  section.philosophy .philosophy-wrap .text-row .text-box h3 {
    font-size: 22px;
  }
  section.philosophy .philosophy-wrap .text-row .text-box p {
    font-size: 16px;
    word-break: keep-all;
  }
  section.ci .ci-wrap  {
    flex-direction: column;
    gap: 30px;
  }

  section.portfolio .portfolio-wrap .portfolio-description {
    width: 380px;
    height: 475px;
  }
  section.portfolio .portfolio-wrap .portfolio-description h2 {
    font-size: 23px;
  }
  section.portfolio .portfolio-wrap .portfolio-description p {
    font-size: 19px;
  }
  section.portfolio .portfolio-wrap .portfolio-description h3 {
    font-size: 20px;
  }

  section.example h2 {
    font-size: 32px;
  }
  section.example .example-wrap .example-item .ex-text h3 {
    font-size: 20px;
  }
  section.example .example-wrap .example-item .ex-text p {
    font-size: 18px;
    font-family: "Noto Sans KR";
  }

  section.philosophy .philosophy-wrap .img-wrap {
    width: 75%;
  }
}
@media all and (max-width: 1150px) {
  section.company-intro .img-wrap.org-img {
    width: 750px;
  }

  section.company-intro .img-wrap.org-img .position.position--ceo {
    top: 67px;
    font-size: 30px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--ceo {
    top: 83px;
    left: 198px;
    font-size: 14px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle {
    top: 239px;
    font-size: 20px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-1 {
    left: 54px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-2 {
    left: 199px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-3 {
    left: 343px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-4 {
    left: 479px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-5 {
    left: 624px;
  }
  
  section.company-intro .img-wrap.org-img .box-title.box-title--middle {
    top: 340px;
    font-size: 10px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-1 {
    left: 36px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-2 {
    left: 194px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-3 {
    left: 349px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-4 {
    left: 485px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-5 {
    left: 652px;
  }
  
  section.company-intro .img-wrap.org-img .team-description {
    top: 368px;
    font-size: 10px;
    line-height: 14px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-1 {
    left: 36px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-2 {
    left: 181px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-3 {
    left: 326px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-4 {
    left: 470px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-5{
    left: 618px;
  }
  
  section.company-intro .img-wrap.org-img .box-title.box-title--middle-2 {
    top: 444px;
    font-size: 10px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle-2.team-1 {
    left: 53px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle-2.team-3 {
    left: 348px;
  }
  
  section.company-intro .img-wrap.org-img .team-description-2 {
    top: 474px;
    font-size: 10px;
    line-height: 14px;
  }
  section.company-intro .img-wrap.org-img .team-description-2.team-1 {
    left: 32px;
  }
  section.company-intro .img-wrap.org-img .team-description-2.team-3 {
    left: 326px;
  }


  section.history .img-wrap {
    width: 740px;
  }
  section.history .img-wrap .year-box {
    left: 110px;
  }
  section.history .img-wrap .year-box h2 {
    font-size: 36px;
  }
  section.history .img-wrap .year-box p {
    font-size: 16px;
  }
  section.history .img-wrap .year-box.year-box--2009 {
    top: 78px;
  }
  section.history .img-wrap .year-box.year-box--2008 {
    top: 207px;
  }
  section.history .img-wrap .year-box.year-box--2007 {
    top: 357px;
  }
  section.history .img-wrap .year-box.year-box--2006 {
    top: 465px;
  }

  section.history .img-wrap .year-box.year-box--2010 {
    top: 77px;
  }
  section.history .img-wrap .year-box.year-box--2011 {
    top: 226px;
  }
  section.history .img-wrap .year-box.year-box--2012 {
    top: 396px;
  }
  section.history .img-wrap .year-box.year-box--2013 {
    top: 546px;
  }
  section.history .img-wrap .year-box.year-box--2014 {
    top: 675px;
  }
  section.history .img-wrap .year-box.year-box--2015 {
    top: 804px;
  }
  section.history .img-wrap .year-box.year-box--2016 {
    top: 933px;
  }
  section.history .img-wrap .year-box.year-box--2017 {
    top: 1065px;
  }
  section.history .img-wrap .year-box.year-box--2018 {
    top: 1189px;
  }
  section.history .img-wrap .year-box.year-box--2019 {
    top: 1318px;
  }
  section.history .img-wrap .year-box.year-box--2020 {
    top: 1448px;
  }
}
@media all and (max-width: 1080px) {
  section.company-intro .intro-wrap {
    grid-template-columns: 100%;
  }
  section.philosophy .philosophy-wrap {
    grid-template-columns: 100%;
  }
  section.philosophy .philosophy-wrap .img-wrap {
    justify-self: center;
    width: 50%;
  }
  section.philosophy .philosophy-wrap .text-wrap {
    justify-self: center;
  }
  section.ci .ci-wrap .ci-description p {
    word-break: keep-all;
  }
  section.ci .ci-wrap .ci-description p br {
    display: none;
  }
  section.ci {
    margin: 150px 50px;
  }
  section.ci .ci-wrap .ci-description h2 span {
    display: block;
    margin-bottom: 10px;
  }

  section.portfolio {
    margin: 150px 50px;
  }

  section.example {
    margin: 150px 50px;
  }
}
@media all and (max-width: 768px) {
  section.company-intro .intro-wrap .intro-text p {
    font-size: 16px;
    word-break: keep-all;
  }
  section.company-intro .intro-wrap .intro-text p br {
    display: none;
  }
  section.philosophy .philosophy-wrap .text-row {
    grid-template-columns: 100%;
    gap: 10px;
  }
  section.philosophy .philosophy-wrap .text-row {
    margin: 25px 0;
  }
  section.philosophy .philosophy-wrap .text-row .icon-wrap {
    width: 50px;
  }
  section.ci .ci-wrap .ci-description h2 {
    font-size: 18px;
  }
  section.ci .ci-wrap .ci-description h2 span {
    font-size: 21px;
  }
  section.ci {
    margin: 150px 20px;
  }
  .tab-menu .tab-box a.btn-tab {
    font-size: 16px;
  }
  .tab-menu .tab-box .line-vertical {
    display: none;
  }

  section.portfolio .portfolio-wrap .portfolio-description {
    width: 280px;
    height: 375px;
    padding: 50px 30px;
  }
  section.portfolio .portfolio-wrap .portfolio-description h2 {
    font-size: 17px;
    font-family: 'Noto Sans KR';
  }
  section.portfolio .portfolio-wrap .portfolio-description p {
    font-size: 14px;
    line-height: 20px;
    margin: 30px 0;
  }
  section.portfolio .portfolio-wrap .portfolio-description h3 {
    font-size: 18px;
  }

  section.example .example-wrap .example-item {
    grid-template-columns: 100%;
    padding: 100px 20px;
  }
  section.example .example-wrap .example-item .ex-company img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  section.example .example-wrap .example-item .ex-text h3 {
    margin-bottom: 8px;
  }

  section.example .example-wrap .example-item .ex-logo {
    width: 240px;
  }

  section.example .example-wrap .example-item .ex-text p {
    word-break: keep-all;
  }
  section.example .example-wrap .example-item .ex-text p span.space {
    display: none;
  }

  section.company-intro .img-wrap.org-img {
    width: 360px;
  }
  section.company-intro .img-wrap.org-img .position.position--ceo {
    top: 31px;
    font-size: 17px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--ceo {
    top: 39px;
    left: 88px;
    font-size: 10px;
    -webkit-transform: scale(.7);
  }
  section.company-intro .img-wrap.org-img .position.position--middle {
    top: 114px;
    font-size: 10px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-1 {
    left: 25px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-2 {
    left: 95px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-3 {
    left: 164px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-4 {
    left: 229px;
  }
  section.company-intro .img-wrap.org-img .position.position--middle.team-5 {
    left: 299px;
  }
  
  section.company-intro .img-wrap.org-img .box-title.box-title--middle {
    top: 161px;
    font-size: 10px;
    -webkit-transform: scale(.45);
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-1 {
    left: -10px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-2 {
    left: 73px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-3 {
    left: 152px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-4 {
    left: 213px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle.team-5 {
    left: 303px;
  }
  
  section.company-intro .img-wrap.org-img .team-description {
    top: 165px;
    font-size: 10px;
    line-height: 14px;
    -webkit-transform: scale(.45);
  }
  section.company-intro .img-wrap.org-img .team-description.team-1 {
    left: -17px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-2 {
    left: 57px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-3 {
    left: 130px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-4 {
    left: 199px;
    top: 158px;
  }
  section.company-intro .img-wrap.org-img .team-description.team-5{
    left: 271px;
    top: 158px;
  }
  
  section.company-intro .img-wrap.org-img .box-title.box-title--middle-2 {
    top: 210px;
    font-size: 10px;
    -webkit-transform: scale(.45);
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle-2.team-1 {
    left: 8px;
  }
  section.company-intro .img-wrap.org-img .box-title.box-title--middle-2.team-3 {
    left: 153px;
  }
  
  section.company-intro .img-wrap.org-img .team-description-2 {
    top: 211px;
    font-size: 10px;
    line-height: 14px;
    -webkit-transform: scale(.45);
  }
  section.company-intro .img-wrap.org-img .team-description-2.team-1 {
    left: -25px;
  }
  section.company-intro .img-wrap.org-img .team-description-2.team-3 {
    left: 122px;
    top: 215px;
  }


  section.history .img-wrap {
    width: 360px;
  }
  section.history .img-wrap .year-box {
    left: 40px;
  }
  section.history .img-wrap .year-box h2 {
    font-size: 16px;
  }
  section.history .img-wrap .year-box p {
    font-size: 10px;
    -webkit-transform: scale(.9);
    line-height: 13px;
    margin-left: -6px;
  }
  section.history .img-wrap .year-box.year-box--2009 {
    top: 38px;
  }
  section.history .img-wrap .year-box.year-box--2008 {
    top: 101px;
  }
  section.history .img-wrap .year-box.year-box--2007 {
    top: 174px;
  }
  section.history .img-wrap .year-box.year-box--2006 {
    top: 226px;
  }

  section.history .img-wrap .year-box.year-box--2010 {
    top: 38px;
  }
  section.history .img-wrap .year-box.year-box--2011 {
    top: 111px;
  }
  section.history .img-wrap .year-box.year-box--2012 {
    top: 193px;
  }
  section.history .img-wrap .year-box.year-box--2013 {
    top: 267px;
  }
  section.history .img-wrap .year-box.year-box--2014 {
    top: 328px;
  }
  section.history .img-wrap .year-box.year-box--2015 {
    top: 393px;
  }
  section.history .img-wrap .year-box.year-box--2016 {
    top: 454px;
  }
  section.history .img-wrap .year-box.year-box--2017 {
    top: 517px;
  }
  section.history .img-wrap .year-box.year-box--2018 {
    top: 580px;
  }
  section.history .img-wrap .year-box.year-box--2019 {
    top: 643px;
  }
  section.history .img-wrap .year-box.year-box--2020 {
    top: 705px;
  }
}
@media all and (max-width: 450px) {
  section.portfolio {
    margin: 100px 20px;
  }
  section.portfolio .portfolio-wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
  }
  section.portfolio .portfolio-wrap .portfolio-description {
    position: initial;
    width: 100%;
  }
  section.portfolio .portfolio-wrap img {
    width: 100%;
  }
  section.portfolio .portfolio-wrap .portfolio-description h2 {
    font-size: 18px;
  }

  section.example {
    margin: 150px 20px;
  }

  section.philosophy .philosophy-wrap .img-wrap {
    width: 100%;
  }
  section.philosophy .philosophy-wrap .text-wrap {
    gap: 0;
  }

  section.certification {
    padding: 80px 20px;
  }
}