/***
* index.html
***/

/* section.main */
section.main {
  width: 100%;
  height: 100%;
}
section.main .slide,
section.main .slide .slick-list {
  width: 100%;
  height: 100%;
}
section.main .slide .slick-track {
  height: 100%;
}
section.main .slide .slick-track .slide-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
section.main .slide .slick-track .slide-bg .title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
}
section.main .slide .slick-track .slide-bg .title-wrap h1 {
  font-size: 75px;
  font-family: 'Nanum Myeongjo', serif;
}
section.main .slide .slick-track .slide-bg .title-wrap h3 {
  font-size: 28px;
  font-weight: 400;
  font-family: 'NanumBarunGothic', sans-serif;
  margin-top: 30px;
}
section.main .slide .slick-dots {
  bottom: 40px;
}
section.main .slide .slick-dots li.slick-active button:before {
  color: #fff;
}
section.main .slide .slick-dots li button:before {
  color: #535353;
  font-size: 15px;
}
section.main .slick-arrow::before {
  display: none;
}

/* section.business */
section.business .slide-intro {
  max-width: 1280px;
  margin: 0 auto;
}
section.business .slide-business {
  margin-top: 75px;
}
section.business .slide-business .wide-wrap {
  color: #fff;
  position: relative;
  width: 100%;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.business .slide-business .wide-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);
  z-index: 1;
}
section.business .slide-business .wide-wrap .business-content {
  position: absolute;
  top: 50%;
  right: 0;
  width: 40%;
  transform: translateY(-50%);
  z-index: 2;
}
section.business .slide-business .wide-wrap .business-content h4 {
  font-size: 22px;
  font-family: 'NanumBarunGothic', sans-serif;
}
section.business .slide-business .wide-wrap .business-content .logo-wrap {
  width: 180px;
  margin-top: 20px;
}
section.business .slide-business .wide-wrap .business-content .logo-wrap img {
  width: 100%;
}
section.business .slide-business .wide-wrap .business-content p {
  font-size: 19px;
  font-family: 'NanumBarunGothic', sans-serif;
  margin-top: 35px;
}
section.business .slide-business .wide-wrap .business-content a.more {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}
.more img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
section.business .slide-business .wide-wrap .btn-control {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 12;
}
section.business .slide-business .wide-wrap .btn-control a {
  color: #656565;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 13px;
  background-color: rgba(255, 255, 255, .40);
  font-size: 25px;
  box-sizing: border-box;
}
section.business .slide-business .wide-wrap .btn-control p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}

section.business .slide-business .grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}
section.business .slide-business .grid-wrap .img-wrap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 230px;
}
section.business .slide-business .grid-wrap .text-wrap h3 {
  color: #0D0D0D;
  font-size: 23px;
  margin-top: 35px;
}
section.business .slide-business .grid-wrap .text-wrap p {
  color: #656565;
  font-size: 15px;
  margin-top: 15px;
  word-break: keep-all;
  line-height: 24px;
  font-weight: 400;
  line-height: 23px;
}
section.business .slide-business .grid-wrap .text-wrap .more {
  color: #656565;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: 35px;
}


/* section.solution */
section.solution {
  background-color: #fff;
  padding-top: 100px;
}
section.solution .solution-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1280px;
  margin: 110px auto 0;
}
section.solution .solution-grid .solution-wrap {
  width: 100%;
  height: 380px;
  overflow: hidden;
}
section.solution .solution-grid .solution-wrap .solution-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .7s;
  transform: scale(1);
}
section.solution .solution-grid .solution-wrap .solution-img:hover {
  transform: scale(1.2);
}
section.solution .solution-grid .solution-wrap:nth-child(2n) {
  margin-top: 60px;
}


/* section.news */
section.news {
  padding-top: 180px;
  padding-bottom: 100px;
  margin: 0 auto;
}
section.news .news-header {
  display: flex;
  gap: 60px;
  /* justify-content: space-between; */
  max-width: 1280px;
  margin: 0 auto;
}
section.news .news-header .title-wrap .section-title,
section.news .news-header .title-wrap .section-subtitle {
  text-align: left;
}
section.news .news-header .btn-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 400px;
}
section.news .news-header .btn-wrap a.btn-link {
  display: inline-block;
  padding: 14px 0;
  width: 100%;
  font-size: 21px;
  color: #0D0D0D;
  background-color: #F4F4F4;
  border: 1px solid #BEBEBE;
  text-align: center;
  border-radius: 50px;
  height: fit-content;
  font-weight: 600;
}
section.news .grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1280px;
  margin: 90px auto 0;
}
section.news .grid-wrap .news-item img {
  display: none;
}
section.news .grid-wrap .news-item {
  word-break: break-all;
}
section.news .grid-wrap .news-item .news-content {
  height: 150px;
  overflow: hidden;
  word-break: break-all;
}
section.news .grid-wrap .news-item .news-content p {
  text-overflow: ellipsis;
  word-break: break-all;
  /* white-space: nowrap; */
}
section.news .grid-wrap .news-item .news-title {
  display: grid;
  grid-template-columns: 80% 20%;
}
section.news .grid-wrap .news-item .news-title h3 {
  font-size: 20px;
}
section.news .grid-wrap .news-item .news-title a.more {
  position: relative;
  color: #343434;
}
section.news .grid-wrap .news-item .news-title a.more i {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 21px;
}
section.news .grid-wrap .news-item .line {
  height: 1px;
  width: 100%;
  background-color: #101010;
  margin: 30px 0;
}
section.news .grid-wrap .news-item p {
  font-size: 15px;
  word-break: keep-all;
  color: #0D0D0D;
}
section.news .grid-wrap .news-item p.date {
  font-size: 16px;
  color: #B6B6B6;
  font-weight: 600;
  margin-top: 30px;
}


/* section.product */
section.product {
  margin: 0 auto;
}
section.product .slide-product {
  margin: 85px auto 0;
  max-width: 1280px;
}
section.product .slide-product .product-img {
  height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.product .slide-product .slick-dots {
  bottom: 40px;
}
section.product .slide-product .slick-dots li.slick-active button:before {
  color: #1A32C6
}
section.product .slide-product .slick-dots li button:before {
  color: #777777;
  font-size: 18px;
}



/* section.contact-form */
section.contact-form {
  background-image: url('/static/images/ask_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 260px;
  box-sizing: border-box;
  color: #fff;
}
section.contact-form h1 {
  font-size: 43px;
  text-align: center;
}
section.contact-form p {
  font-size: 21px;
  margin-top: 20px;
  text-align: center;
}
section.contact-form .form-wrap,
section.contact-form .form-wrap form {
  width: 100%;
}
section.contact-form .form-wrap {
  margin-top: 100px;
}
section.contact-form .form-wrap form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}
section.contact-form .form-wrap form .form-row {
  margin: 20px 0 30px;
}
section.contact-form .form-wrap form .form-row label.btn-file {
  border: 1px solid #fff;
  padding: 15px 20px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: all .5s;
}
section.contact-form .form-wrap form .form-row label.btn-file:hover {
  background-color: #fff;
  color: #1A32C6;
}
input[type="file"]#MailFile {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  /* overflow: hidden; */
  clip: rect(0, 0, 0, 0);
}
section.contact-form .form-wrap form .form-row label {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
section.contact-form .form-wrap form .form-row input,
section.contact-form .form-wrap form .form-row select {
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
section.contact-form .form-wrap form .form-row .select-dropdown {
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
section.contact-form .form-wrap form .form-row .select-content {
  display: none;
}
section.contact-form .form-wrap form .form-row .select-item {
  font-size: 18px;
  padding: 15px 20px;
  width: 100%;
  display: block;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}
section.contact-form .form-wrap form .form-row .select-item:hover {
  background-color: #c2c2c2;
  color: #000;
}
section.contact-form .form-wrap form input.select-value {
  visibility: hidden;
  position: absolute;
}
section.contact-form .form-wrap form .form-row select option {
  color: #000;
  padding: 10px;
  box-sizing: border-box;
}
section.contact-form .form-wrap form .form-row input:focus {
  outline: none;
}
section.contact-form .form-wrap form .checkbox-wrap {
  margin: 10px 0 35px;
  display: flex;
  align-items: center;
  gap: 10px;

}
section.contact-form .form-wrap form .checkbox-wrap input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: #898C9D;
  border-radius: 5px;
}
section.contact-form .form-wrap form button.btn-submit {
  /* border: 1px solid #fff; */
  color: #0c1244;
  background-color: #fff;
  font-size: 27px;
  font-weight: 600;
  padding: 10px 0;
  width: 260px;
  float: right;
  /* background-color: transparent; */
  transition: all .5s;
  cursor: pointer;
  border: none;
}
section.contact-form .form-wrap form button.btn-submit:hover {
  background-color: #072dd6;
  /* border: 1px solid #1A32C6; */
  color: #ffffff;
}
section.contact-form .form-wrap form .table-wrap {
  text-align: center;
  border-top: 1px solid #878787;
  border-bottom: 1px solid #878787;
  margin-bottom: 20px;
}
section.contact-form .form-wrap form .table-wrap .table-header,
section.contact-form .form-wrap form .table-wrap .table-body {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  justify-items: center;
  align-items: center;
}
section.contact-form .form-wrap form .table-wrap .table-header p {
  font-size: 16px;
  margin: 5px 0;
}
section.contact-form .form-wrap form .table-wrap .table-body p {
  font-size: 12px;
  margin: 20px 0 30px;
}
section.contact-form .form-wrap form .table-wrap .line {
  height: 1px;
  background-color: #878787;
  width: 100%;
}



/***
* contact_form.html
***/

/* section.contactform.support-page */
section.contact-form.support-page {
  background-image: url('/static/images/support/contact-form-bg\ \(2\).jpg');
  color: #535353;
}
section.contact-form.support-page .form-wrap form .form-row {
  margin: 12px 0 20px;
}
section.contact-form.support-page .form-wrap {
  max-width: 900px;
  margin: 50px auto;
}
section.contact-form.support-page .form-wrap form {
  display: block;
}
section.contact-form.support-page .form-wrap form .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
section.contact-form .form-wrap form .form-row .select-item {
  background-color: #f1f1f1;
}
section.contact-form.support-page .form-wrap form .form-row input,
section.contact-form.support-page .form-wrap form .form-row select,
section.contact-form.support-page .form-wrap form .form-row textarea,
section.contact-form.support-page .form-wrap form .form-row .select-dropdown {
  color: #535353;
  border: 1px solid #535353;
}
section.contact-form.support-page .form-wrap form .form-row textarea {
  width: 100%;
  resize: none;
  height: 300px;
  padding: 15px 20px;
  box-sizing: border-box;
}
section.contact-form.support-page .form-wrap form .form-row textarea::placeholder {
  font-size: 18px;
  font-family: 'NanumBarunGothic';
}
section.contact-form.support-page .form-wrap form .form-row label.btn-file {
  border: 1px solid #535353;
  color: #535353;
}
section.contact-form.support-page .form-wrap form .form-row label.btn-file:hover {
  background-color: #f1f1f1;
}
section.contact-form.support-page .form-wrap form button.btn-submit {
  border: 1px solid #fff;
  color: #fff;
  background-color: #1A32C6;
  width: 100%;
}
section.contact-form.support-page .form-wrap form button.btn-submit:hover {
  background-color: #435ae6;
}



/* 반응형 */
@media all and (max-width: 1440px) {
  section.business .slide-business .wide-wrap .business-content p {
    font-size: 16px;
  }
  section.business .slide-business .grid-wrap .text-wrap h3 {
    font-size: 21px;
    margin-top: 17px;
  }
  section.business .slide-business .grid-wrap .text-wrap p {
    font-size: 16px;
    word-break: break-all;
  }
  section.business .slide-business .grid-wrap .text-wrap p br {
    display: none;
  }
  section.business .slide-business .grid-wrap .text-wrap .more {
    margin-top: 30px;
  }
  section.solution .solution-grid .solution-wrap {
    height: 350px;
  }
  section.news .grid-wrap .news-item p {
    word-break: keep-all;
  }
  section.news .grid-wrap {
    gap: 30px;
  }
  section.product .slide-product .product-img {
    height: 500px;
  }

  section.contact-form {
    padding: 120px 100px;
  }
}
@media all and (max-width:1080px) {
  section.main .slide .slick-track .slide-bg .title-wrap h1 {
    font-size: 55px;
  }
  section.main .slide .slick-track .slide-bg .title-wrap h3 {
    font-size: 20px;
  }
  section.business .slide-business .wide-wrap {
    height: 400px;
  }
  section.business .slide-business .grid-wrap .img-wrap {
    height: 175px;
  }
  section.solution .solution-grid {
    grid-template-columns: 1fr 1fr;
  }

  section.news .section-subtitle {
    font-size: 18px;
    word-break: keep-all;
  }
  section.news .grid-wrap .news-item .news-title h3 {
    font-size: 16px;
  }
  section.news .grid-wrap .news-item p {
    font-size: 15px;
  }

  section.product .slide-product .product-img {
    height: 300px;
  }

  section.contact-form {
    padding: 120px 50px;
  }
  section.contact-form .form-wrap form {
    display: flex;
    flex-direction: column-reverse;
  }

  section.news .grid-wrap .news-item .news-title a.more span {
    font-size: 24px;
  }
}
@media all and (max-width:900px) {
  br.mobile {
    display: block;
  }
  section.business .slide-business .wide-wrap .business-content {
    width: 50%;
  }
}
@media all and (max-width: 768px) {
  section.main .slide .slick-track .slide-bg .title-wrap h1 {
    font-size: 40px;
  }
  section.main .slide .slick-track .slide-bg .title-wrap h3 {
    font-size: 18px;
  }

  section.business .slide-business .wide-wrap {
    height: 400px;
  }
  section.business .slide-business .grid-wrap .img-wrap {
    height: 175px;
  }
  section.business .slide-business .wide-wrap .business-content .logo-wrap {
    width: 180px;
    margin-top: 15px;
  }
  section.business .slide-business .wide-wrap .business-content p {
    margin-top: 20px;
    word-break: keep-all;
  }
  .content {
    padding: 150px 20px;
  }
  section.business .slide-business .grid-wrap .text-wrap h3 {
    font-size: 15px;
  }
  section.business .slide-business .grid-wrap .text-wrap p {
    font-size: 12px;
    line-height: 15px;
  }
  section.business .slide-business .wide-wrap {
    height: 300px;
  }

  .section-title {
    font-size: 27px;
  }
  .section-subtitle {
    font-size: 18px;
    word-break: keep-all;
  }


  section.news .grid-wrap {
    display: block;
  }
  section.news .grid-wrap .news-item .news-title {
    grid-template-columns: 1fr 16px;
    gap: 20px;
  }
  section.news .grid-wrap .news-item {
    margin-bottom: 100px;
  }

  section.product .slide-product .product-img {
    height: 200px;
  }
  section.product .slide-product .slick-dots {
    bottom: 10px;
  }

  section.contact-form h1 {
    font-size: 25px;
  }
  section.contact-form p {
    font-size: 12px;
    word-break: keep-all;
  }
  section.contact-form .form-wrap {
    margin-top: 50px;
  }
  section.contact-form .form-wrap form .form-row label {
    font-size: 16px;
  }
  section.contact-form .form-wrap form button.btn-submit {
    float: initial;
    display: block;
    margin: 0 auto;
  }

  section.business .slide-business .grid-wrap .text-wrap .more {
    font-size: 14px;
  }

  section.news .news-header .btn-wrap a.btn-link {
    padding: 9px 0;
    font-size: 16px;
    box-sizing: border-box;
  }
  section.news .news-header .btn-wrap {
    gap: 15px;
    width: 350px;
  }
}
@media all and (max-width: 650px) {
  section.news .news-header {
    gap: 20px;
  }
  section.news .news-header .btn-wrap {
    width: 250px;
  }
  section.news .news-header .btn-wrap a.btn-link {
    font-size: 16px;
    padding: 8px;
  }
}
@media all and (max-width: 600px) {
  section.business .slide-business .wide-wrap .business-content {
    width: 70%;
  }
  section.business .slide-business .grid-wrap .img-wrap {
    height: 100px;
  }
  section.business .slide-business .grid-wrap {
    gap: 10px;
  }
  section.business .slide-business .grid-wrap .text-wrap .more {
    font-size: 12px;
  }
  section.solution .solution-grid .solution-wrap {
    height: 250px;
  }

  .content {
    padding: 80px 20px;
  }
  section.news {
    padding-top: 150px;
    padding-bottom: 80px;
  }
}
@media all and (max-width: 500px) {
  section.news .news-header {
    display: block;
  }
  section.news .news-header .btn-wrap {
    margin-top: 20px;
  }
  section.news .grid-wrap {
    margin-top: 50px;
  }
  section.news .grid-wrap .news-item {
    margin-bottom: 65px;
  }

  section.contact-form {
    padding: 100px 20px;
  }
}
@media all and (max-width: 450px) {
  section.main {
    height: auto;
  }
  section.main .slide {
    height: 300px;
  }
  section.main .slide .slick-dots {
    bottom: 10px;
  }
  section.main .slide .slick-track .slide-bg .title-wrap h1 {
    font-size: 30px;
  }
  section.main .slide .slick-track .slide-bg .title-wrap h3 {
    font-size: 14px;
    margin-top: 20px;
  }
  section.business .slide-business .wide-wrap .business-content {
    width: 70%;
  }
  section.business .slide-business .wide-wrap .business-content h4 {
    font-size: 18px;
  }
  section.business .slide-business .wide-wrap .business-content p {
    font-size: 16px;
  }
  section.solution .solution-grid .solution-wrap {
    height: 200px;
  }
  section.solution .solution-grid .solution-wrap:nth-child(2n) {
    margin-top: 40px;
  }
  section.solution .solution-grid {
    margin-top: 60px;
  }
  .section-subtitle {
    font-size: 16px;
    word-break: keep-all;
  }

  section.product .slide-product .product-img {
    height: 150px;
  }

  section.business .slide-business .wide-wrap {
    height: 195px;
  }
  section.business .slide-business .wide-wrap .business-content .logo-wrap {
    width: 95px;
    margin-top: 7px;
  }
  section.business .slide-business .wide-wrap .business-content p {
    font-size: 12px;
    margin-top: 12px;
  }
  section.business .slide-business .wide-wrap .business-content h4 {
    font-size: 14px;
  }
  section.business .slide-business .wide-wrap .btn-control p {
    font-size: 12px;
  }
  section.business .slide-business .wide-wrap .btn-control a {
    padding: 9px 12px;
    font-size: 11px;
  }
  section.business .slide-business .wide-wrap .business-content a.more {
    font-size: 15px;
    margin-top: 6px;
  }
  .more img {
    height: 25px;
  }

  section.business .slide-business .grid-wrap .text-wrap .more {
    margin-top: 0;
  }
  section.business .slide-business:nth-child(2) .grid-wrap .business-item:last-child .text-wrap p {
    margin-top: 33px;
  }
  section.business .slide-business .grid-wrap .business-item .text-wrap {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section.news .news-header .btn-wrap {
    width: 240px;
    gap: 10px;
  }
}
@media all and (max-width: 400px) {
  section.business .slide-business .grid-wrap .text-wrap .more {
    font-size: 10px;
  }
  section.business .slide-business .grid-wrap .text-wrap h3 {
    font-size: 12px;
  }
}