/* section.support */
section.support {
  padding-bottom: 200px;
  padding-top: 150px;
}
section.support .support-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}
section.support .total {
  color: #656565;
  font-size: 16px;
}
section.support .total span {
  color: #1A32C6;
  font-weight: 600;
}
section.support .support-header .btn-contact {
  padding: 10px 26px;
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  background-color: #1A32C6;
  font-weight: 600;
  font-size: 18px;
  font-family: "Noto Sans KR";
}
section.support .support-table .table-head,
section.support .support-table .table-body .table-row {
  display: grid;
  grid-template-columns: 10% 1fr 15% 15% 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section.support .support-table .table-head {
  background-color: #F9FAFB;
  border-top: 3px solid #000;
  border-bottom: 1px solid #E0E0E0;
}
section.support .support-table .table-head p {
  font-size: 16px;
  font-family: "Noto Sans KR";
  color: #303030;
  font-weight: 600;
  padding: 25px 0;
}
section.support .support-table .table-body .table-row {
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
}
section.support .support-table .table-body .table-row p {
  padding: 25px 0;
  font-size: 16px;
  font-family: "Noto Sans KR";
}
section.support .support-table .table-body .table-row p.notice-title {
  font-weight: 600;
}



/***
* contact_more.html
***/

section.support .contact-detail .detail-head {
  background-color: #F9FAFB;
  border-top: 3px solid #000;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 80px;
  box-sizing: border-box;
  font-family: "Noto Sans KR";
}
section.support .support-header--detail {
  justify-content: flex-end;
  align-items: center;
}
section.support .support-header--detail a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #5F6368;
  font-weight: 600;
  font-family: "Noto Sans KR";
  font-size: 15px;
}
section.support .support-header--detail span {
  font-size: 18px;
}
section.support .contact-detail .detail-head .notice-title {
  font-size: 20px;
  font-weight: 600;
}
section.support .contact-detail .detail-body {
  min-height: 550px;
  border: 1px solid #e2e2e2;
  border-top: none;
  /* padding: 35px 80px; */
  box-sizing: border-box;
  font-family: "Noto Sans KR";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.support .contact-detail .detail-body .detail-wrap {
  padding: 35px 80px 40px;
}
section.support .contact-detail .detail-body .detail-wrap img {
  max-width: 100%;
}
section.support .contact-detail .detail-body .detail-body-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
section.support .contact-detail .detail-body .detail-body-info p.contact-type {
  padding: 4px 10px;
  width: fit-content;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.1px;
  color: #fff;
  background-color: #1A32C6;
  font-family: "Noto Sans KR";
}
section.support .contact-detail .detail-body .detail-body-info p.writer {
  font-size: 16px;
  color: #656565;
}
section.support .contact-detail .detail-body .detail-body-info p.writer span {
  font-weight: 600;
}
section.support .contact-detail .detail-body .contact-description {
  font-size: 18px;
  color: #0d0d0d;
}
section.support .contact-detail .detail-body .file-wrap {
  background-color: #EBF3FF;
  padding: 17px 80px;
}
section.support .contact-detail .detail-body .file-wrap a {
    display: flex;
    align-items: center;
}
section.support .contact-detail .detail-body .file-wrap span {
  margin-right: 10px;
}


/* section.support.notice-detail */
section.support.notice-detail {

}



/***
* download.html
***/
section.search {
  padding: 150px 0 0;
  margin: 0 auto;
  border-bottom: 2px solid #000;
  position: relative;
  box-sizing: border-box;
  width: 30%;
}
section.search #searchForm {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 80%;
  width: 100%;
  margin: 0 auto;
}
section.search #searchForm select,
section.search #searchForm input {
  padding: 10px 15px;
  border: none;
  width: 100%;
  font-size: 18px;
}
section.search select:focus,
section.search input:focus {
  outline: none;
}
section.search select {
  color: #656565;
}
section.search input {
  position: relative;
}
section.search .search-icon {
  position: absolute;
  bottom: -7px;
  right: 15px;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
}


/* section.support.download */
section.support.download {
  padding: 50px 150px 150px;
  box-sizing: border-box;
}
section.support .support-table.download-table .table-body {
  border-top: 3px solid #000;
}
section.support .support-table.download-table .table-head,
section.support .support-table.download-table .table-body .table-row {
  grid-template-columns: 15% 1fr 25% 10%;
}
section.support .support-table.download-table .table-body .table-row {
  cursor: pointer;
}
section.support .support-table.download-table .table-body .table-row .download-title {
  justify-self: flex-start;
  text-align: left;
  padding: 30px 0;
  box-sizing: border-box;
}
section.support .support-table.download-table .table-body .table-row .download-title p {
  padding: 0 0 10px;
  font-weight: 600;
}
section.support .support-table.download-table .table-body .table-row .download-title span {
  color: #969696;
}
section.support .support-table.download-table .table-body .download-wrap {
  padding: 45px 0;
  background-color: #F9FAFB;
  box-sizing: border-box;
  display: none;
}
section.support .support-table.download-table .table-body .download-wrap .btn-wrap {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
section.support .support-table.download-table .table-body .download-wrap .btn-wrap a {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #1A32C6;
  font-weight: 600;
  gap: 10px;
}


/***
* video.html
***/

/* section.video */
section.video .video-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
}
section.video .video-wrap .video-item {
  width: 100%;
  border: 1px solid #E0E0E0;
  cursor: pointer;
}
section.video .video-wrap .video-item .img-wrap {
  height: 335px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.video .video-wrap .video-item .img-wrap img {
  width: 100%;
}
section.video .video-wrap .video-item .text-wrap {
  padding: 35px;
  box-sizing: border-box;
}
section.video .video-wrap .video-item .text-wrap .category {
  font-size: 17px;
  font-weight: 600;
  color: #1A32C6;
}
section.video .video-wrap .video-item .text-wrap .title {
  font-size: 24px;
  font-weight: 400;
  color: #0d0d0d;
  margin: 30px 0 15px;
  height: 28px;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
section.video .video-wrap .video-item .text-wrap .description {
  font-size: 18px;
  color: #656565;
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
}
section.video .video-wrap .video-item .text-wrap .bottom {
  margin-top: 25px;
  color: #969696;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
section.video .video-wrap .video-item .text-wrap .bottom img {
  width: 75px;
  margin-bottom: -30px;
}

@media all and (max-width: 1920px) {
  section.video .video-wrap .video-item .img-wrap {
    height: 285px;
  }
}
@media all and (max-width: 1440px) {
  section.support .support-table .table-head p {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
  }
  section.support .support-table .table-body .table-row p {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
  }
  section.video .video-wrap .video-item .img-wrap {
    height: 215px;
  }
  section.video .video-wrap .video-item .text-wrap {
    padding: 45px 35px;
  }

  section.search {
    width: 60%;
  }

  section.support {
    padding: 150px 50px 200px;
  }
}
@media all and (max-width: 1080px) {
  section.support .support-table .table-head p:last-child,
  section.support .support-table .table-body .table-row p:last-child {
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section.support .support-table .table-head, section.support .support-table .table-body .table-row {
    display: grid;
    grid-template-columns: 10% 1fr 15% 15% 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  section.support .support-table .table-head, section.support .support-table .table-body .table-row {
    grid-template-columns: 10% 1fr 110px 110px 70px;
  }
  section.support .support-table .table-head p:nth-child(4),
  section.support .support-table .table-body .table-row p:nth-child(4),
  section.support .support-table .table-head p:nth-child(3),
  section.support .support-table .table-body .table-row p:nth-child(3) {
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section.support .support-table .table-head p:nth-child(2),
  section.support .support-table .table-body .table-row p:nth-child(2) {
    /* height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    text-align: left;
  }

  section.video .video-wrap {
    grid-template-columns: 1fr 1fr;
  }
  section.video .video-wrap .video-item .img-wrap {
    height: 245px;
  }

  section.support.download {
    padding: 50px 50px 150px;
  }
  section.support.download .support-table .table-head p:nth-child(4),
  section.support.download .support-table .table-body .table-row p:nth-child(4),
  section.support.download .support-table .table-head p:nth-child(3),
  section.support.download .support-table .table-body .table-row p:nth-child(3) {
    width: auto;
  }
}
@media all and (max-width: 768px) {
  section.support .support-table .table-head p {
    font-size: 16px;
  }
  section.support .support-table .table-body .table-row p {
    font-size: 12px;
  }

  section.video .video-wrap {
    grid-template-columns: 1fr;
  }
  section.video .video-wrap .video-item .img-wrap {
    height: 285px;
  }

  section.support {
    padding: 150px 25px 200px;
  }

  section.support .support-table.download-table .table-body .table-row .download-title {
    padding: 20px 0;
  }
  section.support .support-table.download-table .table-body .download-wrap {
    padding: 25px 0;
  }
  section.support .support-table.download-table .table-body .download-wrap .btn-wrap a {
    font-size: 15px;
    font-family: "Noto Sans KR";
  }
}
@media all and (max-width: 450px) {
  section.support .support-table .table-head p {
    font-size: 14px;
  }
  section.support .support-table .table-head, section.support .support-table .table-body .table-row {
    grid-template-columns: 10% 1fr 60px 81px 30px;
  }
  section.support .support-table .table-body .table-row p {
    padding: 18px 0;
  }
  section.support .support-table .table-head p:nth-child(4), section.support .support-table .table-body .table-row p:nth-child(4), section.support .support-table .table-head p:nth-child(3), section.support .support-table .table-body .table-row p:nth-child(3) {
    width: 81px;
  }
  /* section.support .support-table .table-head p:nth-child(2),
  section.support .support-table .table-body .table-row p:nth-child(2) {
    height: 20px;
  } */
  section.support .support-table .table-head p:nth-child(3),
  section.support .support-table .table-body .table-row p:nth-child(3) {
    width: 60px;
  }
  section.support .support-table .table-head p:last-child, section.support .support-table .table-body .table-row p:last-child {
    width: 30px;
  }

  #paging .pagination li.page-item .page-link.arrow span {
    width: 28px;
    height: 28px;
    font-size: 22px;
  }
  #paging .pagination {
    gap: 15px;
  }

  section.support .support-header .btn-contact {
    padding: 8px 20px;
    font-size: 17px;
    font-family: "Noto Sans KR";
  }

  section.video .video-wrap .video-item .img-wrap {
    height: 185px;
  }
  section.video .video-wrap .video-item .text-wrap .title {
    font-size: 24px;
  }
  section.video .video-wrap .video-item .text-wrap .category {
    font-size: 18px;
  }
  section.video .video-wrap .video-item .text-wrap .bottom {
    margin-top: 30px;
  }
  section.video .video-wrap .video-item .text-wrap {
    padding: 25px;
  }

  section.support.download {
    padding: 50px 30px;
  }
  .tab-menu .tab-box a.btn-tab {
    font-size: 14px;
    padding: 12px 10px;
  }
  section.search {
    width: 90%;
  }
  section.search #searchForm {
    width: 100%;
    grid-template-columns: 30% 70%;
  }

  section.support {
    padding: 150px 20px 200px;
  }
}
