{% extends "admin_base.html" %}

{% block content %}
<div id="right-panel" class="right-panel">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">

                        <form id="deleteForm" action="/admin/delete" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="table" value="contact">
                            <input type="hidden" name="id" value="{{contact.id}}">
                        </form>

                        <form id="contactCreateForm" action="/admin/create" method="post" enctype="multipart/form-data"
                            class="form-horizontal">

                            {% csrf_token %}
                            <input type="hidden" name='table' value="contact">

                            {% if contact %}
                            <input type="hidden" name='action' value="update">
                            <input type="hidden" name='id' value="{{contact.id}}">
                            <input type="hidden" name="class" value="contact">
                            {% else %}
                            <input type="hidden" name='action' value="create">
                            {% endif %}

                            <div class="card-header">
                                <strong>문의사항</strong>
                            </div>

                            <div class="card-body card-block">

                                <!-- 순번 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">문의 유형</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="type" class="form-control" value="{{contact.type}}"
                                            required>
                                    </div>
                                </div>

                                <!-- 제목 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">제목</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="title" class="form-control" value="{{contact.title}}"
                                            required>
                                    </div>
                                </div>

                                <!-- 내용 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">내용</label></div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="content" class="form-control" cols="30" rows="10"
                                            required>{{contact.content}}</textarea>
                                    </div>
                                </div>

                                <!-- 이메일 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">이메일</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="email" class="form-control" value="{{contact.email}}"
                                            required>
                                    </div>
                                </div>

                                <!-- 비밀번호 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">비밀번호</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" class="form-control" value="{{contact.password}}" readonly>
                                    </div>
                                </div>

                                <!-- 조회 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">조회</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="views" class="form-control" value="{{contact.views}}"
                                            required>
                                    </div>
                                </div>

                                <!-- 첨부파일 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">첨부파일</label></div>
                                    <div class="col-12 col-md-9">
                                        <a href="/media/{{contact.file}}" download>첨부파일 ({{contact.file}})</a>
                                    </div>
                                </div>

                            </div>

                            <!-- footer -->
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-outline-primary btn-sm" form="contactCreateForm">
                                    {% if contact %}
                                    수정
                                    {% else %}
                                    추가
                                    {% endif %}
                                </button>
                                {% if contact %}
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    onclick="deleteContact()">삭제</button>
                                {% endif%}
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteContact() {
        if (confirm("삭제하시겠습니까?")) {
            $('#deleteForm').submit();
        }
    }
</script>
{% endblock content %}