{% extends "admin_base.html" %}

{% block content %}
<div id="right-panel" class="right-panel">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">

                        {% if download %}
                        <form id="deleteForm" action="/admin/delete" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="table" value="download">
                            <input type="hidden" name="id" value="{{download.id}}">
                        </form>
                        {% endif %}

                        <form id="downloadCreateForm" action="/admin/create" method="post" enctype="multipart/form-data"
                            class="form-horizontal">

                            {% csrf_token %}
                            <input type="hidden" name='table' value="download">

                            {% if download %}
                            <input type="hidden" name='action' value="update">
                            <input type="hidden" name='id' value="{{download.id}}">
                            {% else %}
                            <input type="hidden" name='action' value="create">
                            {% endif %}

                            <div class="card-header">
                                <strong>다운로드</strong>
                            </div>

                            <div class="card-body card-block">

                                <!-- 제품 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">제품</label></div>
                                    <div class="col-12 col-md-9">
                                        <select class="form-control" name="product" id="">
                                            {% for product in product_list %}
                                            <option value="{{product.id}}">{{product.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- 카테고리 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">카테고리</label></div>
                                    <div class="col-12 col-md-9">
                                        <select class="form-control" name="category" id="">
                                            <option value="brochure" {{selected.brochure}}>브로슈어</option>
                                            <option value="manual" {{selected.manual}}>매뉴얼</option>
                                            <option value="sheet" {{selected.sheet}}>규격서</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- 파일 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">파일</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" name="file" class="form-control">
                                    </div>
                                </div>

                                {% if download %}
                                <!-- 현재 파일 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">현재 파일</label></div>
                                    <div class="col-12 col-md-9">
                                        <a href="/media/{{download.file}}" download>다운로드 <br> ({{download.file}}) </a>
                                    </div>
                                </div>
                                {% endif %}

                            </div>

                            <!-- footer -->
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-outline-primary btn-sm" form="downloadCreateForm">
                                    {% if download %}
                                    수정
                                    {% else %}
                                    추가
                                    {% endif %}
                                </button>
                                {% if download %}
                                <button type="submit" class="btn btn-outline-danger btn-sm"
                                    form="deleteForm">삭제</button>
                                {% endif%}
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock content %}