{% extends "admin_base.html" %}

{% block extraheads %}
{% endblock %}


{% block content %}
<form id="deleteForm" action="/admin/delete" method="post">
    {% csrf_token %}
    <input type="hidden" name="table" value="notice">
    <input type="hidden" name="id" value="{{notice.id}}">
</form>

<div id="right-panel" class="right-panel">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">

                        {% if function == "update" %}
                        <form id="deleteForm" action="/admin/delete" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="table" value="notice">
                            <input type="hidden" name="id" value="{{notice.id}}">
                        </form>
                        {% endif %}

                        <form id="noticeCreateForm" action="/admin/create" method="post" enctype="multipart/form-data"
                            class="form-horizontal">

                            {% csrf_token %}
                            <input type="hidden" name='table' value="notice">

                            {% if notice %}
                            <input type="hidden" name='action' value="update">
                            <input type="hidden" name='id' value="{{notice.id}}">
                            <input type="hidden" name="class" value="Notice">
                            {% else %}
                            <input type="hidden" name='action' value="create">
                            {% endif %}

                            <div class="card-header">
                                <strong>공지사항</strong>
                            </div>

                            <div class="card-body card-block">

                                <!-- 순번 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">순번</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" name="order" class="form-control" value="{{notice.order}}"
                                            required>
                                    </div>
                                </div>

                                <!-- 제목 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">제목</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="title" class="form-control" value="{{notice.title}}"
                                            required>
                                    </div>
                                </div>

                                <!-- 내용 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">내용</label></div>
                                    <div class="col-12 col-md-9">
                                        <textarea id="summernote" name="content" class="form-control" cols="30"
                                            rows="10" required>{{notice.content}}</textarea>
                                    </div>
                                </div>

                                <!-- 작성자 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">작성자</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="author" class="form-control" value="{{notice.author}}"
                                            required>
                                    </div>
                                </div>

                                <!-- 작성일 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">작성일</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="date" name="date" class="form-control"
                                            value="{{notice.date |date:'Y-m-d'}}" required>
                                    </div>
                                </div>

                                <!-- 조회수 -->
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">조회수</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="views" class="form-control" value="{{notice.views}}"
                                            required>
                                    </div>
                                </div>

                            </div>

                            <!-- footer -->
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-outline-primary btn-sm" form="noticeCreateForm">
                                    {% if notice %}
                                    수정
                                    {% else %}
                                    추가
                                    {% endif %}
                                </button>
                                {% if notice %}
                                <button type="submit" class="btn btn-outline-danger btn-sm"
                                    form="deleteForm">삭제</button>
                                {% endif%}
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascripts %}
{# Summer note #}
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script> -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            dialogsInBody: true,
            callbacks: {
                onImageUpload: function (image) {
                    uploadImage(image[0]);
                }
            }
        });
    });

    function uploadImage(image) {
        var data = new FormData();
        data.append("image", image);
        data.append("csrfmiddlewaretoken", $('meta[name="csrf-token"]').attr('content'));
        $.ajax({
            url: '/admin/upload_image',
            cache: false,
            contentType: false,
            processData: false,
            data: data,
            type: "post",
            success: function (data) {
                console.log(data.url);
                var image = $('<img>').attr('src', '/media/' + data.url);
                $('#summernote').summernote("insertNode", image[0]);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
</script>
{% endblock extrascripts %}