{% extends "admin_base.html" %}

{% block content %}
<div id="right-panel" class="right-panel">
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <strong class="card-title">{{room.name}} 객실 예약 정보</strong>
                        </div>

                        <div class="card-body">
                            <table id="dataTable" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">예약번호</th>
                                        <th scope="col">객실</th>
                                        <th scope="col">체크인</th>
                                        <th scope="col">체크아웃</th>
                                        <th scope="col">예약자</th>
                                        <th scope="col">연락처</th>
                                        <th scope="col">요청사항</th>
                                        <th scope="col">총 결제금액</th>
                                        <th scope="col">상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for room_reservation in room_reservation_list %}
                                    <tr>
                                        <td>{{room_reservation.code}}</th>
                                        <td>{{room_reservation.room.name}}</th>
                                        <td>{{room_reservation.start | date:"Y-m-d"}}</td>
                                        <td>{{room_reservation.end | date:"Y-m-d"}}</td>
                                        <td>{{room_reservation.user_name}}</td>
                                        <td>{{room_reservation.user_contact}}</td>
                                        <td>{{room_reservation.user_request}}</td>
                                        <td>{{room_reservation.total_price}}</td>
                                        <td>

                                            {% if room_reservation.cancelled %}

                                            취소됨 ({{room_reservation.cancelled_at}})

                                            {% else %}

                                            {% if room_reservation.is_paid %}
                                            예약완료
                                            {% else %}
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{room_reservation.id}}">
                                                <button type="submit" class="btn btn-outline-primary btn-sm">입금
                                                    확인</button>
                                            </form>
                                            {% endif %}

                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "order": [
                [0, "desc"]
            ]
        });
    });
</script>
{% endblock extrascripts %}