{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/solution.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.solution.box-2 -->
<section class="solution ms box-2">
  <div class="text-box">
    <h2>Yealink MS Teams Solution</h2>
    <h3>Microsoft Teams를 위한 가장 쉽고 빠른 길!</h3>
    <p>
      Yealink는 현존하는 화상회의 솔루션 중 마이크로소프트와 가장 활발히 협업이 이루어지는 브랜드입니다.
      <br>Teams가 탑재된 코덱 기반의 Teams 전용 화상회의 엔드 포인트와 구축형 서버 솔루션에서의 Teams Gateway,
      <br>그리고 클라우드 화상회의 내에서의 Teams Access는 기존 MS Teams의 한계를 뛰어넘을 수 있도록 합니다.
    </p>
  </div>
  <div class="img-box">
    <img src="/static/images/solution/ms_banner.png" alt="">
  </div>
</section>


<!-- section.ms-list -->
<section class="ms-list content">
  <div class="ms-teams max-1280">
    <h2>Yealink MS Teams Solution</h2>
    <h2 class="subtitle"><span>코덱 기반</span> 화상회의 솔루션</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/solution-ms.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Desktop Phone</p>
          <h4>VP59</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-team1.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Collaboration Bar</p>
          <h4>VC210</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-camera4.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team All-in-one Meeting Bar</p>
          <h4>MeetingEye400</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-team4.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team All-in-one Meeting Bar</p>
          <h4>MeetingEye600</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink MS Teams Solution</h2>
    <h2 class="subtitle"><span>마이크로소프트 인증</span>USB 카메라 솔루션</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-camera1.png" alt="">
        </div>
        <div class="teams-content">
          <p>USB Camera</p>
          <h4>UVC30</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-camera2.png" alt="">
        </div>
        <div class="teams-content">
          <p>USB PTZ Camera</p>
          <h4>UVC50</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-camera3.png" alt="">
        </div>
        <div class="teams-content">
          <p>USB PTZ Camera</p>
          <h4>UVC80</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-camera4.png" alt="">
        </div>
        <div class="teams-content">
          <p>All-in-one Meeting Bar</p>
          <h4>UVC40</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink MS Teams Solution</h2>
    <h2 class="subtitle">보이스 솔루션</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-voice1.png" alt="">
        </div>
        <div class="teams-content">
          <p>Conference Phone Teams Edition</p>
          <h4>CP960</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-voice2.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Speakerphone</p>
          <h4>CP700</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-voice2.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Speakerphone</p>
          <h4>CP900</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink MS Teams Solution</h2>
    <h2 class="subtitle">소프트웨어 솔루션</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-software1.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Gateway & SfB Gateway (구축형 서버)</p>
          <h4>YMS</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms-software2.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Access (클라우드 기반 화상회의)</p>
          <h4>Yealink Meeting</h4>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section.solution.ms-function.box-2 -->
<section class="solution ms-function box-2">
  <div class="text-box">
    <h2>Yealink Solutions for Microsoft</h2>
    <h3>모든 공간과 사용자에게 제약 없이 우수한 Microsoft Teams를 제공합니다.</h3>
  </div>
  <div class="img-box">
    <!-- <img src="/static/images/solution/ms_banner.png" alt=""> -->
  </div>
</section>


<!-- section.ms-package -->
<section class="ms-package content page-start">
  <h2>패키지 상품</h2>
  <div class="package-wrap max-1280">
    <div class="package-card">
      <div class="package-image">
        <img src="/static/images/solution/package1.png" alt="">
      </div>
      <h2 class="package-title">MVC400</h2>
      <p class="package-description">
        Microsoft Teams Room System
        <br>For huddle and small rooms
      </p>
      <div class="tag-wrap">
        <div class="tag-box">
          <div class="tag-header">
            <p>Certified for</p>
          </div>
          <p class="tag-content">
            Microsoft Teams
          </p>
        </div>
        <div class="tag-box blue">
          <div class="tag-header">
            <p>Certified for</p>
          </div>
          <p class="tag-content">
            Skype for Business
          </p>
        </div>
      </div>
    </div>

    <div class="package-card">
      <div class="package-image">
        <img src="/static/images/solution/package2.png" alt="">
      </div>
      <h2 class="package-title">MVC300 ||</h2>
      <p class="package-description">
        Microsoft Teams Room System
        <br>For focus and small rooms
      </p>
      <div class="tag-wrap">
        <div class="tag-box">
          <div class="tag-header">
            <p>Certified for</p>
          </div>
          <p class="tag-content">
            Microsoft Teams
          </p>
        </div>
        <div class="tag-box blue">
          <div class="tag-header">
            <p>Certified for</p>
          </div>
          <p class="tag-content">
            Skype for Business
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


{% block extrascripts %}
<script>
  $(function() {
    $('.sub-banner').css('background-image', "url('/static/images/solution/solution_bg.png')");
  });
</script>
{% endblock extrascripts %}