{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/solution.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.solution.box-2 -->
<section class="solution ms box-2 page-start">
  <div class="ms-banner">
    <div class="text-box">
      <h2>Yealink MS Teams Solution</h2>
      <h3>Microsoft Teams를 위한 가장 쉽고 빠른 길!</h3>
      <p>
        Yealink는 Teams 생태계에서 가장 두각을 나타내는 브랜드로 마이크로소프트와 가장 긴밀히 협업을 하고 있습니다. 
        <br>Teams 기반 화상회의를 위한 전방위 제품 구성으로 모든 사용자의 시나리오에 대응 가능합니다. 터치패널, 
        <br>유무선 컨텐츠 공유, 다양한 오디오 디바이스들과의 구성으로 기존 테이블에 국한 되었던 여러분의 Teams를 
        <br>회의실로 활용의 폭을 대폭 넓혀 드립니다.
        <br>Teams 기반의 실감나는 화상회의 솔루션… <span>Yealink</span>에 있습니다!
      </p>
    </div>
    <div class="img-box">
      <img src="/static/images/solution/ms_banner.png" alt="">
    </div>
  </div>
</section>


<!-- section.ms-phone-product -->
<section class="ms-phone-product ms-product">
  <div class="max-1280">
    <div class="text-wrap">
      <img src="/static/images/solution/ms_phone/logo.png" alt="">
      <h3>SIMPLE, SMART, SUSTAINABLE</h3>
      <h2>MeetingBar A20 A30</h2>
      <p>Microsoft Teams Rooms on Android for Small Rooms</p>
    </div>
  </div>
</section>


<!-- section.service-room -->
<section class="service-room">
  <div class="max-1280">
    <h2>MVC ll Series Room System for Microsoft Teams</h2>
    <h3>Microsoft Teams와 완벽한 통합이 가능하고 다양한 규모의 회의실을 지원합니다.</h3>
    <div class="wrap">
      <div class="room-img">
        <img src="/static/images/solution/ms/scenario_image1.png" alt="">
      </div>
      <div class="product-wrap">
        <div class="products">
          <div class="img-wrap">
            <img src="/static/images/solution/ms/scenario_image1-r1.png" alt="">
          </div>
          <div class="text-wrap">
            <h3>MVC320</h3>
            <p>for focus and small rooms</p>
          </div>
        </div>

        <div class="products">
          <div class="img-wrap">
            <img src="/static/images/solution/ms/scenario_image1-r2.png" alt="">
          </div>
          <div class="text-wrap">
            <h3>MVC640</h3>
            <p>for medium rooms</p>
          </div>
        </div>
      </div>
    </div>

    <div class="wrap">
      <div class="room-img">
        <img src="/static/images/solution/ms/scenario_image2.png" alt="">
      </div>
      <div class="product-wrap">
        <div class="products">
          <div class="img-wrap">
            <img src="/static/images/solution/ms/scenario_image2-r1.png" alt="">
          </div>
          <div class="text-wrap">
            <h3>MVC840</h3>
            <p>for large rooms</p>
          </div>
        </div>

        <div class="products">
          <div class="img-wrap">
            <img src="/static/images/solution/ms/scenario_image2-r2.png" alt="">
          </div>
          <div class="text-wrap">
            <h3>MVC940</h3>
            <p>for extra-large rooms</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section.ms-list -->
<section class="ms-list only-ms">
  <div class="ms-teams max-1280">
    <h2 style="text-align: center;">Microsoft Teams Yealink 화상회의 솔루션</h2>
    <h2 class="subtitle" style="text-align: center;">허들룸에서 초대형 회의실까지 사용이 가능합니다.</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image01.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Desktop Phone</p>
          <h4>VP59</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image02.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Collaboration Bar</p>
          <h4>VC210</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image03.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team All-in-one Meeting Bar</p>
          <h4>MeetingEye400</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image04.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team All-in-one Meeting Bar</p>
          <h4>MeetingEye600</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image05.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Desktop Phone</p>
          <h4>VP59</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image06.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team Collaboration Bar</p>
          <h4>VC210</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image07.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team All-in-one Meeting Bar</p>
          <h4>MeetingEye400</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image08.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team All-in-one Meeting Bar</p>
          <h4>MeetingEye600</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/ms/ms_solution_image09.png" alt="">
        </div>
        <div class="teams-content">
          <p>Team All-in-one Meeting Bar</p>
          <h4>MeetingEye600</h4>
        </div>
      </div>
    </div>
  </div>

  
</section>


<!-- section.ms-phone-feature -->
<section class="ms-phone-feature only-ms">
  <div class="max-1280">
    <div class="feature-wrap">
      <div class="feature">
        <div class="img-wrap">
          <img src="/static/images/solution/ms/ms_icon01.png" alt="">
        </div>
        <h3>케이블 하나로 손쉬운 설치</h3>
        <p>
          Yealink MVC 시리즈는 케이블 
          <br>하나로 TV에서 회의테이블까지
          <br>손쉬운 설치가 가능합니다.
        </p>
      </div>
      <div class="feature">
        <div class="img-wrap">
          <img src="/static/images/solution/ms/ms_icon02.png" alt="">
        </div>
        <h3>프리미엄 비디오 & 오디오</h3>
        <p>
          Yealink는 AI가 결합된 비디오와 
          <br>오디오 지원은 물론 멀티카메라,
          <br>무선마이크 시스템도 활용할 수 있습니다.
        </p>
      </div>
      <div class="feature">
        <div class="img-wrap">
          <img src="/static/images/solution/ms/ms_icon03.png" alt="">
        </div>
        <h3>무선 자료 공유</h3>
        <p>
          Yealink MS Teams는 유선 및 
          <br>무선 자료 공유 기능을 제공합니다. 
          <br>WPP20 포드를 통한 원터치 간편 
          <br>무선 자료 공유가 가능합니다.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


{% block extrascripts %}
<script>
  $(function() {
    $('.sub-banner').css('background-image', "url('/static/images/solution/solution_bg.png')");
  });
</script>
{% endblock extrascripts %}