{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/solution.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.solution.box-2 -->
<section class="solution ym sony box-2 page-start">
  <div class="text-box">
    <h2>REA-C10000 Edge Analytics Appliance</h2>
    <h5>
      간단하게 조작 가능한 가상 카메라 오퍼레이터
      <br>다양한 촬영 기회 충족과 간편한 촬영 및 효율적인 워크플로우 제공
    </h5>
    <p>
      청중의 관심을 사로잡고 지능형 영상 분석 기술로 청중의 참여도를 높여보세요!
    </p>
  </div>
  <div class="img-wrap">
    <img src="/static/images/solution/sony-image.png" alt="">
  </div>
</section>


<!-- section.innovation -->
<section class="innovation sony-margin">
  <h1>커뮤니케이션 혁신</h1>
  <p>
    Edge Analytics Appliance는 과거에는 제작에 오랜 시간, 높은 비용과 과도한 
    <br>인력이소요되었던 탁월한 비디오 프레젠테이션 콘텐츠를 제작합니다.
    <br>REA-C1000은 인공 지능을 활용한 기술로 발표자가 이전과는 완전히 다른 방식으로
    <br>콘텐츠를 전달하고 청중의 참여를 유도할 수 있도록 지원함으로써 커뮤니케이션의 질을 
    <br>대폭 향상시켜 줍니다.
  </p>
</section>


<!-- section.sony-full -->
<section class="sony-full sony-margin">
  <div class="img-wrap">
    <img src="/static/images/solution/sony-big.png" alt="">
  </div>
</section>


<!-- section.sony-grid -->
<section class="sony-grid sony-margin">
  <div class="img-wrap">
    <img src="/static/images/solution/sony-img1.png" alt="">
  </div>
  <div class="text-wrap">
    <h2>필기 추출 기술</h2>
    <h4>기능</h4>
    <p>
      필기 추출 기능은 발표자가 서 있는 위치와 관계없이 AR(증강 현실)을 통해 보드 
      <br>또는 스크린에 작성된 단어 및 다이어그램을 청중에게 그대로 전달합니다.
      <br>발표자가 보드 바로 앞에 서 있어도 아이디어, 사고 과정, 애니메이션이 적용된 
      <br>프레젠테션 등이 청중에게 모두 전달됩니다. 또한 발표자가 오버레이되고 콘텐츠 
      <br>품질이 저하되지 않으므로 원격 시청자도 쉽게 시청할 수 있으며, 
      <br>나중에 프레젠테이션을 다시 재생하는 경우에도 콘텐츠에 몰입할 수 있습니다.
    </p>
  </div>
</section>


<section class="sony-grid sony-margin">
  <div class="text-wrap">
    <h2>전문 리소스 없이도 뛰어난 콘텐츠 제작</h2>
    <h4>기능</h4>
    <p>
      발표자는 크로마키가 없는 CG 오버레이 기능을 활용하여 전용 스튜디오나 
      <br>전문 콘텐츠 크리에이터의 도움을 받지 않고도 실시간으로 인상적인 지원 
      <br>콘텐츠를 전달할 수 있습니다.

      <br><br>사용자는 프레젠테이션의 배경으로 손쉽게 활용할 수 있는 특정한 애니메이션 
      <br>이미지, 정지 사진, 지원 그래픽 등을 스스로 제작할 수 있습니다.
    </p>
  </div>
  <div class="img-wrap">
    <img src="/static/images/solution/sony-img2.png" alt="">
  </div>
</section>


<section class="sony-grid sony-margin">
  <div class="img-wrap">
    <img src="/static/images/solution/sony-img3.png" alt="">
  </div>
  <div class="text-wrap">
    <h2>회전형 자동 추적 기능으로 프레임 유지</h2>
    <h4>기능</h4>
    <p>
      REA-C1000은 정확하면서도 매끄럽게 발표자를 추적하여 프레젠테이션 내내 
      <br>발표자에 대한 포커스를 유지하고 발표자를 프레임 내에 둘 수 있습니다. 
      <br>이 기능은 카메라 오퍼레이터에 투자하지 않고도 교육, 기업 또는 컨퍼런스 
      <br>환경에서 활용할 수 있는 경제적인 추적 솔루션입니다.
    </p>
  </div>
</section>


<section class="sony-grid sony-margin">
  <div class="text-wrap">
    <h2>초점 영역 크롭(Focus Area Cropping) - Full HD</h2>
    <h4>기능</h4>
    <p>
      초점 영역 크롭(Focus Area Cropping) 기능을 사용하여 카메라 한 대의 
      <br>이미지를 두 개의 다른 출력 이미지로 동시에 볼 수 있습니다. 
      <br>사용자는 기본 정지 4K 이미지에서 크롭한 이미지를 선택할 수 있습니다. 
      <br>또한 크롭한 영역은 정적 상태로 두거나 발표자의 움직임에 따라 동적으로 
      <br>움직이도록 선택할 수 있습니다.
    </p>
  </div>
  <div class="img-wrap">
    <img src="/static/images/solution/sony-img4.png" alt="">
  </div>
</section>


<section class="sony-grid sony-margin">
  <div class="img-wrap">
    <img src="/static/images/solution/sony-img5.png" alt="">
  </div>
  <div class="text-wrap">
    <h2>청중의 참여 유도</h2>
    <h4>기능</h4>
    <p>
      REA-C1000 기술은 프레젠테이션에 참가한 청중의 제스처를 감지하여 이에 반응할 수 있습니다.
      <br>예를 들어, 청중 한 명이 일어날 경우 REA-C1000이 카메라를 트리거하여
      <br>해당 개인에게 전자식으로 자동 확대할 수 있습니다.
      <br>이 기능은 특히 교육 환경에서 학생의 반응을 측정하는 경우 및
      <br>기업 프레젠테이션의 Q&A 세션과 같은 경우에 유용합니다.
    </p>
  </div>
</section>


<!-- section.area -->
<section class="area">
  <div class="overlay"></div>
  <div class="text-box">
    <h2>적용 영역</h2>
    <p>
      다양한 사용에 이상적인 소니 Edge Analytics Appliance는 
      <br>발표자가 청중과 상호 작용하는 방식과 청중에게 콘텐츠를 제공하는 방식을 혁신할 수 있습니다.
    </p>
  </div>
</section>


{% endblock content %}


{% block extrascripts %}
<script>
  $(function() {
    $('.sub-banner').css('background-image', "url('/static/images/solution/solution_bg.png')");
  });
</script>
{% endblock extrascripts %}