{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/solution.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.solution.box-2 -->
<section class="solution ms box-2 usb page-start">
  <div class="ms-banner">
    <div class="text-box">
      <h2>Yealink USB 디바이스의 역사</h2>
      <p class="usb-top-text">
        2004년 Skype USB 제품 런칭을 시작으로, 2005년 글로벌 1위 USB폰 공급자 선정 등 
        <br>Yealink는 오래전부터 USB 관련 제품에 대한 깊은 노하우를 축적해 오고 있습니다. 
        <br>화상회의가 일상생활로 깊게 들어온 지금 여러 화상회의에 모두 안정적으로 사용할 수 있는 
        <br>유니버설 디바이스에 대한 요구는 중요합니다. Yealink는 USB 환경의 무선 솔루션과 업계 유일의 
        <br>USB 멀티카메라 솔루션으로 기존 USB 한계를 뛰어넘는 독창적인 솔루션을 제시합니다. 다양한 
        <br>고객의 공간과 회의 시나리오를 폭넓게 수용할 수 있는 제품 포트폴리오…
        <br><strong>Yealink</strong>에 있습니다!
      </p>
    </div>
    <div class="img-box">
      <img src="/static/images/solution/usb_main_image.png" alt="">
    </div>
  </div>
</section>


<!-- section.ms-list -->
<section class="ms-list usb content">
  <div class="ms-teams max-1280">
    <h2>Yealink USB Device</h2>
    <h2 class="subtitle">올인원 미팅바</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC40.png" alt="">
        </div>
        <div class="teams-content">
          <p>All-in-One USB Video Bar</p>
          <h4>UVC34</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC40.png" alt="">
        </div>
        <div class="teams-content">
          <p>All-in-One USB Video Bar</p>
          <h4>UVC40</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink USB Device</h2>
    <h2 class="subtitle">지능형 추적 카메라</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC86.png" alt="">
        </div>
        <div class="teams-content">
          <p>4K Dual-Eye Tracking Camera</p>
          <h4>UVC86</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink USB Device</h2>
    <h2 class="subtitle">데스크톱 웹캠</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC20.png" alt="">
        </div>
        <div class="teams-content">
          <p>USB Camera</p>
          <h4>UVC20</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC30.png" alt="">
        </div>
        <div class="teams-content">
          <p>4K USB Camera</p>
          <h4>UVC30</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink USB Device</h2>
    <h2 class="subtitle">소형 회의실</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC30.png" alt="">
        </div>
        <div class="teams-content">
          <p>4K USB Camera</p>
          <h4>UVC30</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC40.png" alt="">
        </div>
        <div class="teams-content">
          <p>All-in-One USB Video Bar</p>
          <h4>UVC34</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC40.png" alt="">
        </div>
        <div class="teams-content">
          <p>All-in-One USB Video Bar</p>
          <h4>UVC40</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink USB Device</h2>
    <h2 class="subtitle">스피커폰</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/CP960.png" alt="">
        </div>
        <div class="teams-content">
          <p>Optima HD IP Conference Phone</p>
          <h4>CP960</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/CP900.png" alt="">
        </div>
        <div class="teams-content">
          <p>Portable speakerphone</p>
          <h4>CP900</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/CP900.png" alt="">
        </div>
        <div class="teams-content">
          <p>Portable speakerphone</p>
          <h4>CP700</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink USB Device</h2>
    <h2 class="subtitle">USB 헤드셋</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UH36.png" alt="">
        </div>
        <div class="teams-content">
          <p>Professional USB Headset</p>
          <h4>UH36</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UH34.png" alt="">
        </div>
        <div class="teams-content">
          <p>USB Headset</p>
          <h4>UH34/UH34 Lite</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/BH76.png" alt="">
        </div>
        <div class="teams-content">
          <p>Bluetooth Wireless Headset</p>
          <h4>BH76</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/BH72.png" alt="">
        </div>
        <div class="teams-content">
          <p>Bluetooth Wireless Headset</p>
          <h4>BH72</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-teams max-1280">
    <h2>Yealink USB Device</h2>
    <h2 class="subtitle">관련 악세서리</h2>
    <div class="teams-wrap">
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/VCM34.png" alt="">
        </div>
        <div class="teams-content">
          <p>유선 마이크</p>
          <h4>VCM34</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/UVC38.png" alt="">
        </div>
        <div class="teams-content">
          <p>천정형 마이크</p>
          <h4>VCM38</h4>
        </div>
      </div>
      <div class="teams-item">
        <div class="teams-image">
          <img src="/static/images/solution/usb/MSpeaker-ll.png" alt="">
        </div>
        <div class="teams-content">
          <p>사운드바</p>
          <h4>MSpeaker-ll</h4>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section.usb-banner -->
<section class="usb-banner">
  <div class="max-1280">
    <h2>
      USB폰 글로벌 1위 Yealink의 USB 환경의 무선 솔루션과 
      <br>업계 유일의 USB 멀티카메라 솔루션을 만나보실 수 있습니다.
    </h2>
  </div>
</section>


<!-- section.usb-package -->
<section class="usb-package">
  <div class="max-1280">
    <h2>Yealink USB Device</h2>
    <h3>USB 무선 솔루션</h3>
    <div class="package-wrap">
      <div class="package-item">
        <div class="img-wrap">
          <img src="/static/images/solution/usb/package_image01.png" alt="">
        </div>
        <div class="text-wrap">
          <p>USB 무선 스피커폰</p>
          <h3>CP960 + CPW90</h3>
        </div>
      </div>
      <div class="package-item">
        <div class="img-wrap">
          <img src="/static/images/solution/usb/package_image02.png" alt="">
        </div>
        <div class="text-wrap">
          <h3>UVC40 + CPW90</h3>
          <p>USB 올인원 + 무선마이크</p>
        </div>
      </div>
      <div class="package-item">
        <div class="img-wrap">
          <img src="/static/images/solution/usb/package_image03.png" alt="">
        </div>
        <div class="text-wrap">
          <h3>UVC84 + CPW90</h3>
          <p>USB 룸카메라 + 무선마이크</p>
        </div>
      </div>
      <div class="package-item">
        <div class="img-wrap">
          <img src="/static/images/solution/usb/package_image04.png" alt="">
        </div>
        <div class="text-wrap">
          <h3>UVC86 + CPW90</h3>
          <p>USB 룸카메라 + 무선마이크</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="usb-package" style="padding-bottom: 150px;">
  <div class="max-1280">
    <h2>Yealink USB Device</h2>
    <h3>USB 멀티카메라 솔루션</h3>
    <div class="package-wrap">
      <div class="package-item">
        <div class="img-wrap">
          <img src="/static/images/solution/usb/package_image05.png" alt="">
        </div>
        <div class="text-wrap">
          <h3>최대 9개 USB 멀티카메라</h3>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


{% block extrascripts %}
<script>
  $(function() {
    $('.sub-banner').css('background-image', "url('/static/images/solution/solution_bg.png')");
  });
</script>
{% endblock extrascripts %}