{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/solution.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.solution.box-2 -->
<section class="solution ym box-2 page-start">
  <div class="ym-banner">
    <div class="text-box">
      <h2>Yealink Meeting (YM)</h2>
      <h5>모바일, PC 또는 화상회의 코덱으로 어디서든 접속할 수 있는
        <br>Yealink Meeting 클라우드 화상회의</h5>
      <p>
        강력한 보안과 저비용으로 안전하고 수준 높은 전문 화상회의를 제공합니다.
        <br>Yealink 하드웨어 및 타사 코덱과 높은 호환성을 보장하고, MS Teams와 액세스가 가능합니다.
      </p>
      <a href="https://www.yealink.com/" target="_blank" class="more">
        자세히보기 
        <span class="material-icons-outlined">navigate_next</span>
        </a>
    </div>
    <div class="img-wrap">
      <img src="/static/images/solution/ym-banner1.png" alt="">
    </div>
  </div>
</section>


<!-- section.yms-function -->
<section class="yms-function ym-function max-1280">
  <h2>주요 기능</h2>
  <p class="subtitle">Yealink Meeting의 주요기능을 소개합니다.</p>
  <div class="ym-wrap">
    <div class="ym-function-img">
      <img src="/static/images/solution/ym-function.png" alt="">
    </div>
    <div class="ym-function-content">
      <div class="content-row">
        <div class="img-wrap">
          <img src="/static/images/solution/ym-icon1.png" alt="">
        </div>
        <div class="text-wrap">
          <h4>높은 보안성</h4>
          <p>
            - TLS/SRTP/HTTPS 및 동적 비밀번호로 회의 보안성 보장
            <br>- 표준 SIP/H.323 엔드 포인트 다이얼 서버 IP를 지원하여 
            <br><span class="empty-space">&nbsp;&nbsp;</span>회의에 직접 참여
          </p>
        </div>
      </div>
      <div class="content-row">
        <div class="img-wrap">
          <img src="/static/images/solution/ym-icon2.png" alt="">
        </div>
        <div class="text-wrap">
          <h4>간편한 사용</h4>
          <p>
            - Outlook, Web 또는 Yealink Client를 통한 회의 예약 지원
            <br>- 다양한 회의 레이아웃 모드 지원
          </p>
        </div>
      </div>
      <div class="content-row">
        <div class="img-wrap">
          <img src="/static/images/solution/ym-icon3.png" alt="">
        </div>
        <div class="text-wrap">
          <h4>Worldwide Coverage</h4>
          <p>
            - All-in-One으로 MCU, 등록, 디렉토리, 탐색 서버, 회의 관리 
            <br>- 서버 및 GK&H.460 서버를 하나로 통합
          </p>
        </div>
      </div>
      <div class="content-row">
        <div class="img-wrap">
          <img src="/static/images/solution/ym-icon4.png" alt="">
        </div>
        <div class="text-wrap">
          <h4>광범위한 호환성</h4>
          <p>
            - 오디오, 비디오 및 콘텐츠 공유를 위한 
            <br><span class="empty-space">&nbsp;&nbsp;</span>Microsoft Teams와의 상호 운용 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section.yms-function -->
<section class="yms-function content">
  <h2>Yealink Meeting 차별화 포인트</h2>
  <!-- <p class="subtitle">YMS (Yealink Meeting Server)의 장점을 소개합니다.</p> -->
  <div class="difference-img">
    <div class="ym-advantage max-1280">
      <div class="advantage-table">
        <div class="advantage-wrap">
          <div class="title">
            <h3>Ease of Use</h3>
            <p>사용의 편의성</p>
          </div>
          <div class="description">
            <div class="d-item">
              <h3>Any device, Anywhere, Anytime : </h3>
              <p>모바일 기기/PC/화상회의 코덱에 상관없이 클릭 한 번으로 회의에 참여/시작할 수 있습니다.</p>
            </div>
            <div class="d-item">
              <h3>Zero-learning for Users : </h3>
              <p>사용자를 위한 쉬운 가이드와 스마트한 사용자 인터페이스로 모든 것을 처음부터 끝까지 쉽게 사용할 수 있습니다.</p>
            </div>
            <div class="d-item">
              <h3>Real-time Interaction : </h3>
              <p>화이트보드 주석, 터치 회의 제어를 위한 협업용 터치 패널을 선택하여 Yealink Meeting에서는 실시간으로 상호 협업이 가능합니다.</p>
            </div>
            <div class="d-item">
              <h3>Easy for Admis : </h3>
              <p>회의실 장치는 전원이 켜지고, 자체적으로 업데이트되면 자동으로 구성됩니다.</p>
            </div>
          </div>
        </div>
        <div class="advantage-wrap">
          <div class="title">
            <h3>Always Secured and Protected</h3>
            <p>강력하고 지속적인 보안/보호</p>
          </div>
          <div class="description">
            <div class="d-item">
              <h3>Anti-hacking & Attack : </h3>
              <p>외부의 악의적인 공격을 피하기 위해 고도로 보안된 Amazon Web Services(AWS)를 기반으로 합니다.</p>
            </div>
            <div class="d-item">
              <h3>No Information Leakage : </h3>
              <p>모든 통신 데이터는 전송 중에 암호화되어 내부 분류 정보 또는 회의 콘텐츠에 대한 강력한 보호를 제공합니다.</p>
            </div>
            <div class="d-item">
              <h3>International Privacy Compliance : </h3>
              <p>모든 통신 데이터는 전송 중에 암호화되어 내부 분류 정보 또는 회의 콘텐츠에 대한 강력한 보호를 제공합니다.</p>
            </div>
            <div class="d-item">
              <h3>Disruption-free Settings : </h3>
              <p>관리자를 위한 참석자(인증, 발언 권한 등)에 대한 설정은 안전한 회의를 보장합니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section.ym-product -->
<!-- <section class="ym-product">
  <div class="img-big">
    <img src="/static/images/solution/ym-product1.png" alt="">
  </div>
  <div class="product-wrap max-1280">
    <div class="product-item">
      <div class="product-img">
        <img src="/static/images/solution/ms-camera1.png" alt="">
      </div>
      <div class="product-description">
        <p class="blue">카메라</p>
        <h3>UVC30</h3>
        <p>4K USB Camera</p>
      </div>
    </div>
    <div class="product-item">
      <div class="product-img">
        <img src="/static/images/solution/ms-camera4.png" alt="">
      </div>
      <div class="product-description">
        <p class="blue">카메라</p>
        <h3>MeetingEye400</h3>
        <p>20M Pixel UHD Camera</p>
      </div>
    </div>
    <div class="product-item">
      <div class="product-img">
        <img src="/static/images/solution/ym-product2.png" alt="">
      </div>
      <div class="product-description">
        <p class="blue">터치 패널</p>
        <h3>CTP20</h3>
        <p>Collaboration Touch Panel</p>
      </div>
    </div>
    <div class="product-item">
      <div class="product-img">
        <img src="/static/images/solution/ms-voice2.png" alt="">
      </div>
      <div class="product-description">
        <p class="blue">스피커</p>
        <h3>CP900</h3>
        <p>Portable Speakerphone</p>
      </div>
    </div>
  </div>
</section> -->


<!-- section.pricing -->
<section class="pricing content">
  <h2>서비스 플랜</h2>
  <!-- <p class="subtitle">Yealink Meeting의 가격정보입니다.</p> -->
  <p></p>
  <div class="price-wrap max-1280">
    <div class="price-item">
      <div class="type">FREE</div>
      <div class="contain">
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>최대 회의 참가 인원 <span class="strong">100명</span></span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span><span class="strong">1080P</span> 해상도</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>40분 무료 화상회의</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>즉각적인 예약 회의 가능</span>
        </p>
      </div>
      <h3 class="price"><span>0</span>원/HOST</h3>
    </div>

    <div class="price-item">
      <div class="type">STANDARD</div>
      <div class="contain">
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>최대 회의 참가 인원 <span class="strong">100명</span></span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span><span class="strong">1080P</span> 해상도</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>시간제한 없음</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>레포트 및 통계 제공</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>1GB 클라우드 레코딩</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>REST API</span>
        </p>
      </div>
      <h3 class="price">월 <span>14,600</span>원/HOST</h3>
    </div>

    <div class="price-item">
      <div class="type">BUSINESS</div>
      <div class="contain">
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>최대 회의 참가 인원 <span class="strong">300명</span></span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span><span class="strong">STANDARD</span> 기능 전체 포함</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>SINGLE SIGN-ON</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>맞춤 번호 세그먼트 리소스</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>컴퍼니 브랜딩 및 커스텀 기능</span>
        </p>
      </div>
      <h3 class="price">월 <span>19,800</span>원/HOST</h3>
    </div>

    <div class="price-item">
      <div class="type">ENTERPRISE</div>
      <div class="contain">
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>
            최대 회의 참가 인원 <span class="strong">300명</span>
            <br>(최대 500명)
          </span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span><span class="strong">BUSINESS</span> 기능 전체 포함</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>고객 전담 매니저</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>무제한 클라우드 저장</span>
        </p>
        <p>
          <img src="/static/images/solution/check.png" alt="">
          <span>다양한 할인 프로그램</span>
        </p>
      </div>
      <h3 class="price">월 <span>19,800</span>원/HOST</h3>
    </div>
  </div>
</section>


{% endblock content %}


{% block extrascripts %}
<script>
  $(function() {
    $('.sub-banner').css('background-image', "url('/static/images/solution/solution_bg.png')");
  });
</script>
{% endblock extrascripts %}