{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/company.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.contact-form -->
<section class="contact-form">
  <h1>Contact Us</h1>
  <p>문의 내용을 남겨주시면 담당자가 자세하게 안내를 도와드리겠습니다.</p>
  <div class="form-wrap">
    
    <form action="" method="post" enctype="multipart/form-data">

      {% csrf_token %}

      <div></div>
      <div class="input-wrap">
        <div class="form-row">
          <a href="javascript:void(0)" class="select-dropdown">
            <span class="type-name">문의 유형을 선택해 주세요.</span>
            <span class="material-icons">arrow_drop_down</span>
            </a>
          <div class="select-content">
            <a href="javascript:void(0)" class="select-item">제품문의</a>
            <a href="javascript:void(0)" class="select-item">자료요청 (인증서, 시방서, 규격서) 문의</a>
            <a href="javascript:void(0)" class="select-item">구축문의</a>
          </div>
        </div>
        <input type="text" class="select-value" id="type" name="type" value=""/>
        
        <div class="form-row">
          <label for="">제목</label>
          <input name="title" type="text"/>
        </div>

        <div class="form-row">
          <label for="">이메일</label>
          <input name="email" type="email"/>
        </div>

        <div class="form-row">
          <label for="">파일 첨부</label>
          <label class="btn-file" for="MailFile">
            <i class="far fa-file"></i>&nbsp;&nbsp;파일 첨부
          </label>
          <input name="file" type="file" id="MailFile" />
        </div>

        <div class="form-row">
          <label for="">문의 내용</label>
          <input name="content" type="text"/>
        </div>

        <div class="form-row">
          <label for="">비밀번호</label>
          <input name="password" type="password"/>
        </div>

        <div class="checkbox-wrap">
          <input type="checkbox" required>
          <span>위 내용에 동의합니다.</span>
        </div>

        <div class="table-wrap">
          <div class="table-header">
            <p>수집항목</p>
            <p>수집목적</p>
            <p>보유기간</p>
          </div>
          <div class="line"></div>
          <div class="table-body">
            <p>이메일 주소</p>
            <p>문의•요청•불편사항 및 처리결과 회신</p>
            <p>문의 민원 해결 이후 파기</p>
          </div>
        </div>

        <button type="submit" href="javascript:void(0)" class="btn-submit">문의하기</button>
      </div>
    </form>
    
  </div>
</section>
{% endblock content %}


{% block extrascripts %}
<script>
  $('.select-dropdown').click(function() {
    $('.select-content').slideToggle();
    if($(this).find('.material-icons').text() == "arrow_drop_down") {
      $(this).find('.material-icons').text("arrow_drop_up");
    } else {
      $(this).find('.material-icons').text("arrow_drop_down");
    }
  });

  $('.select-item').click(function() {
    $('.select-value').val($(this).text());
    $('.select-content').slideToggle();
    $('.select-dropdown .type-name').text($(this).text())
  });
</script>

<script>
  var fileTarget = $('#MailFile');

  fileTarget.on('change', function () {
    if (window.FileReader) {
      var filename = $(this)[0].files[0].name;
    } else {
      var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
    }
    console.log(filename);

    $('.btn-file').html('<i class="far fa-image"></i>&nbsp;' + filename);
  });
</script>

{% endblock extrascripts %}