<!DOCTYPE html>
<html>

<body>
  <div class="email-wrap" style="margin: 0 auto; max-width: 640px;">
    <div class="title-wrap" style="font-size: 23px;">
      <h1 style="font-family: 'Nunito Sans', sans-serif; font-weight: 600;">{{title}}</h1>
    </div>
    <div class="line" style="width: 100%;height: 1px;background-color: #c2c2c2;"></div>
    <p style="margin-top: 40px; white-space:pre;">{{content}}</p>
    <p style="margin-top: 40px; white-space:pre;">
      <a href="https://guglobal.gabia.io/admin/contact/{{contact.id}}">
        관리자 페이지에서 확인하기
      </a>
    </p>
  </div>
</body>

</html>