{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/popup.css">
{% endblock extraheads %}

{% block content %}

{% for popup in popup_list %}
<!-- popup -->
<div id="pop" class="pop">
    <div class="layerBox">
        <div class="cont">
            <img src="/media/{{popup.image}}" alt="">
        </div>
        <div class="close">
            <span id="check" class="btnTodayHide"><input type="checkbox" value="checkbox" name="chkbox"
                    id="chkday" /><label for="chkday">오늘 하루동안 보지 않기</label></span>
            <span id="" class="btnClose"> <a href="#0">Close</a></span>
        </div>
    </div>
</div>
{% endfor %}

<!-- section.main -->
<section class="main">
    <div class="slide">
        <div class="slide-bg" style="background-image: url('/static/images/main_bg.png');">
            <div class="title-wrap">
                <h1>Video Conferencing</h1>
                <h3>화상회의 시스템과 스마트 협업 솔루션 주력으로
                    <br class="mobile">화상회의 분야 전문 SI 기업</h3>
            </div>
        </div>
        <div class="slide-bg" style="background-image: url('/static/images/main_bg.png');">
            <div class="title-wrap">
                <h1>Video Conferencing</h1>
                <h3>화상회의 시스템과 스마트 협업 솔루션 주력으로
                    <br class="mobile">화상회의 분야 전문 SI 기업</h3>
            </div>
        </div>
    </div>
</section>


<!-- section.business -->
<section class="business content page-start">
    <h2 class="section-title">OUR BUSINESS</h2>
    <p class="section-subtitle">지유글로벌의 비즈니스를 소개합니다.</p>
    <div class="slide-intro">
        <div class="slide-business">
            <div class="wide-wrap" style="background-image: url('/static/images/business_banner2.png');">
                <div class="overlay"></div>
                <div class="business-content">
                    <h4>비즈니스 화상회의 솔루션</h4>
                    <div class="logo-wrap">
                        <img src="/static/images/yealink_logo.png" alt="">
                    </div>
                    <p>
                        H/W와 S/W가 결합되어 업무의 효율성을
                        <br>향상시키는 비즈니스 화상회의 솔루션입니다.
                    </p>
                    <a href="/solution/USB?name=범용 USB 화상회의" class="more">더보기<img src="/static/images/arrow_detail_w.png" alt=""></a>
                </div>
                <div class="btn-control">
                    <p>1/2</p>
                    <a href="javascript:void(0)" class="btn-next" onclick="$('.slick-prev').trigger('click');">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-next" onclick="$('.slick-next').trigger('click');">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="grid-wrap">
                <div class="business-item">
                    <div class="img-wrap" style="background-image: url('/static/images/business_item1 (1).png');">
                    </div>
                    <div class="text-wrap">
                      <div>
                        <h3>Yealink Meeting Server (YMS)</h3>
                        <p>
                            HD 화상회의 협업을 위해 설계된
                            <br>분산형 클라우드 기반 화상회의의 인프라입니다.
                        </p>
                      </div>
                        <a href="/solution/YMS" class="more">자세히보기<img src="/static/images/arrow_detail.png" alt=""></a>
                    </div>
                </div>
                <div class="business-item">
                    <div class="img-wrap" style="background-image: url('/static/images/business_item1 (2).png');">
                    </div>
                    <div class="text-wrap">
                      <div>
                        <h3>Yealink Meeting (YM)</h3>
                        <p>
                            모바일, PC 또는 화상회의 코덱으로 어디서든
                            <br>접속할 수 있는 Yealink Meeting 클라우드 화상회의입니다.
                        </p>
                      </div>
                        <a href="/solution/ym" class="more">자세히보기<img src="/static/images/arrow_detail.png" alt=""></a>
                    </div>
                </div>
                <div class="business-item">
                    <div class="img-wrap" style="background-image: url('/static/images/business_item1 (3).png');">
                    </div>
                    <div class="text-wrap">
                      <div>
                        <h3>Yealink MS Teams Solution</h3>
                        <p>
                            Teams가 탑재된 코덱 기반의 Teams 전용 화상회의
                            <br>엔드포인트와 구축형 서버 솔루션에서의 Teams Gateway입니다.
                        </p>
                      </div>
                        <a href="/solution/ms" class="more">자세히보기<img src="/static/images/arrow_detail.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-business">
            <div class="wide-wrap" style="background-image: url('/static/images/business_banner1.png');">
                <div class="overlay"></div>
                <div class="business-content">
                    <h4>Smart Work 솔루션</h4>
                    <div class="logo-wrap">
                        <img src="/static/images/sony_logo.png" alt="">
                    </div>
                    <p>
                        다양한 솔루션과 제품의 조합으로
                        <br>커뮤니케이션의 질을 향상시켜주는 기술입니다.
                    </p>
                    <a href="/solution/sony" class="more">더보기<img src="/static/images/arrow_detail_w.png" alt=""></a>
                </div>
                <div class="btn-control">
                    <p>2/2</p>
                    <a href="javascript:void(0)" class="btn-next" onclick="$('.slick-prev').trigger('click');">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-next" onclick="$('.slick-next').trigger('click');">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="grid-wrap">
                <div class="business-item">
                    <div class="img-wrap" style="background-image: url('/static/images/business_item1.png');"></div>
                    <div class="text-wrap">
                      <div>
                        <h3>협업 및 원격 근무 솔루션</h3>
                        <p>
                            조직의 모든 일원을 하나로 연결하고 모든 직원이
                            <br>성공에 기여할 수 있도록 스마트한 업무 환경을 조성합니다.
                          </div>
                        </p>
                        <a href="/products/SONY/PTZ 화상회의 카메라" class="more">자세히보기<img src="/static/images/arrow_detail.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="business-item">
                    <div class="img-wrap" style="background-image: url('/static/images/business_item2.png');"></div>
                    <div class="text-wrap">
                      <div>
                        <h3>Edge Analytics Appliance</h3>
                        <p>
                            인공지능을 활용한 영상 분석 기술로 콘텐츠 전달 및 청중의 참여 유도를 지원하여 커뮤니케이션의 질을 향상시켜줍니다.
                        </p>
                      </div>
                        <a href="/solution/SONY?name=스마트 강의" class="more">자세히보기<img src="/static/images/arrow_detail.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="business-item">
                    <div class="img-wrap" style="background-image: url('/static/images/business_item3.png');"></div>
                    <div class="text-wrap">
                      <div>
                        <h3>MAS-A100</h3>
                        <p>
                            진정한 핸즈프리 강의 및 프레젠테이션을 지원하는 고급 음성 보강 기술을 갖춘 소니 빔포밍 천장형 마이크입니다.
                        </p>
                      </div>
                        <a href="/products/SONY/MAS" class="more" onclick="">자세히보기<img
                                src="/static/images/arrow_detail.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- section.solution -->
<section class="solution content" style="background-color: #f1f1f1;">
    <h2 class="section-title">Audio/Video Solution</h2>
    <p class="section-subtitle">
        규모별 회의실에 따라 맞춤형 오디오 솔루션과
        <br>전문화된 인력으로 신뢰할 만한 시공/설계 및 유지 보수 서비스를 제공합니다.
    </p>

    <div class="solution-grid">
        <div class="solution-wrap">
            <div class="solution-img" style="background-image: url('/static/images/solution1.png');"></div>
        </div>
        <div class="solution-wrap">
            <div class="solution-img" style="background-image: url('/static/images/solution2.png');"></div>
        </div>
        <div class="solution-wrap">
            <div class="solution-img" style="background-image: url('/static/images/solution3.png');"></div>
        </div>
        <div class="solution-wrap">
            <div class="solution-img" style="background-image: url('/static/images/solution4.png');"></div>
        </div>
    </div>
</section>


<!-- section.news -->
<section class="news content">
    <div class="news-header">
        <div class="title-wrap">
            <h2 class="section-title">Recent News</h2>
            <p class="section-subtitle">
                지유글로벌의 뉴스/소식을 확인해보세요!
            </p>
        </div>
        <div class="btn-wrap">
            <a href="/support/notice" onclick="" class="btn-link">공지사항</a>
            <a href="/support/download" onclick="" class="btn-link">다운로드 센터</a>
        </div>
    </div>
    <div class="grid-wrap">

        {% for notice in notice_list %}
        <div class="news-item">
            <div class="news-title">
                <h3>{{notice.title}}</h3>
                <a href="/support/notice/{{notice.id}}" class="more" onclick=""><i class="fas fa-plus"></i></a>
            </div>
            <div class="line"></div>
            <div class="news-content">
              <p>{{notice.content|safe}}</p>
            </div>
            <p class="date">{{notice.date |date:'Y-m-d'}}</p>
        </div>
        {% endfor %}

    </div>
</section>


<!-- section.product -->
<section class="product content">
    <h2 class="section-title">PRODUCT</h2>
    <p class="section-subtitle">Yealink의 화상회의 베스트 상품입니다.</p>
    {% if best_product_list %}
    <div class="slide-product">
        {% for product in best_product_list %}
        <div class="product-img" style="background-image:url('/media/{{product.image}}')"></div>
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endblock content %}

{% block extrascripts %}
<script src="/static/js/popup.js"></script>

<script>

</script>

{% endblock extrascripts %}