{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/company.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.company-intro -->
<section class="company-intro content page-start">
  <div class="intro-wrap">
    <div class="img-wrap">
      <h3 class="section-intro-title">Company introduction</h3>
      <img src="/static/images/intro-top.png" alt="">
    </div>
    <div class="intro-text">
      <!-- <h3><span>G</span>enuine <span>U</span>biquitous Global</h3> -->
      <h1>GUGLOBAL</h1>
      <p>
        ㈜지유글로벌은 <span class="hightlight"><img src="/static/images/solution/check.png" alt="check">Yealink
          화상회의시스템</span>과 <span class="hightlight"><img src="/static/images/solution/check.png" alt="check">SONY 스마트 협업
          솔루션</span>을
        <br>주력으로 하는 통합 화상회의 분야의 전문 SI 회사입니다.
        <br>이 분야의 통합과 설계/시공/컨설팅에 있어 풍부한 경험과 기술을 보유하고 있으며,
        <br>글로벌 시장상황 및 기술변화에 능동적으로 대처하며 성장하고 있습니다.
        <br>관련 제품과 솔루션 및 프로그램에 관한 개발 및 연구에도 힘쓰고 있으며
        <br>자체 ‘알고리즘’개발에 따른 미래 가치도 함께 만들어 가고 있습니다.
        <br>당사의 경영철학은 인재와 기술을 바탕으로 최고의 제품과 서비스를 창출하여
        <br>당사 제품이 속한 산업 군과 사회에 공헌하는 것이 궁극적인 목표입니다.
        <br>또한 파트너와의 합리적인 협업을 경영의 원칙으로 삼고 있습니다.
        <br>서로 경쟁 구도로 바라보기 보다는 시장을 적극적으로 개척•개발하고
        <br>이를 통해 파트너와 함께 동반 성장하고자 하는 것이 당사가 지향하는 바 입니다.
        <br>비대면과 대면의 시대에 균형 있는 소통을 이끌어가도록 국내 통합 화상회의솔루션 분야에서
        <br>선도 업체가 되도록 노력하겠습니다.

        <br><br>감사합니다.
      </p>
    </div>
  </div>
</section>

<div class="img-bg">
  <img src="/static/images/sign.png" alt="">
</div>
<div class="img-bg">
  <img src="/static/images/intro-banner.png" alt="">
</div>

<section class="philosophy max-1280">
  <h3 class="section-intro-title">Philosophy</h3>
  <div class="philosophy-wrap">
    <div class="img-wrap">
      <img src="/static/images/philosophy.png" alt="">
    </div>
    <div class="text-wrap">
      <div class="text-row">
        <div class="icon-wrap">
          <img src="/static/images/intro-icon1.png" alt="">
        </div>
        <div class="text-box">
          <h3>장기 발전 기반 확보</h3>
          <p>· 정직하며 지속적으로 발전해 가는 기업</p>
        </div>
      </div>
      <div class="text-row">
        <div class="icon-wrap">
          <img src="/static/images/intro-icon2.png" alt="">
        </div>
        <div class="text-box">
          <h3>연구개발</h3>
          <p>· 비전실현은 물론 묵묵히 갈 길을 찾아가는 기업</p>
        </div>
      </div>
      <div class="text-row">
        <div class="icon-wrap">
          <img src="/static/images/intro-icon3.png" alt="">
        </div>
        <div class="text-box">
          <h3>고객 중시</h3>
          <p>· 더 나은 세상과 고객의 편의를 위한 마음</p>
        </div>
      </div>
      <div class="text-row">
        <div class="icon-wrap">
          <img src="/static/images/intro-icon4.png" alt="">
        </div>
        <div class="text-box">
          <h3>윤리경영</h3>
          <p>· 독과점 아닌 상생으로 사회적 책임을 다하고 사회에 이바지 하는 역할</p>
        </div>
      </div>
      <div class="text-row">
        <div class="icon-wrap">
          <img src="/static/images/intro-icon5.png" alt="">
        </div>
        <div class="text-box">
          <h3>인재중심</h3>
          <p>· 대내외 교육 프로그램, 임직원의 복지, 구성원 상장 등 회사 경영이념 실현</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section.ci -->
<section class="ci">
  <div class="ci-wrap max-1280">
    <h3 class="section-intro-title ci-title">CI</h3>
    <div class="ci-description">
      <h2><span>Genuine Ubiquitous Global</span> (진정한 유비쿼터스 세계의 선두주자)</h2>
      <p>
        지유글로벌은 변하는 시대에 따라 빠른 적응력으로 자유롭게 만나는 세상을 선사하고자 합니다.
        <br>CI도 기업의 본질과 핵심에 가치를 두어 기업의 정체성인 변화에 따른 적응력으로 사람과 사람 사이를 연결하고 
        <br>고객에게 효율성, 편리함, 우수한 품질 등 스마트한 세상과 미래를 만나는 것에 의미를 담아 시각화하였습니다. 
      </p>
    </div>
  </div>
  <div class="ci-img">
    <img src="/static/images/ci.png" alt="">
  </div>
</section>
{% endblock content %}