{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/company.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}


<!-- section.location -->
<section class="location">
  <div class="max-1280">
    <h3 class="section-intro-title">Location</h3>
    
  </div>
</section>


{% endblock content %}


{% block extrascripts %}
{% endblock extrascripts %}