{% extends "base.html" %}

{% block extraheads %}
<link rel="stylesheet" href="/static/css/subpage.css">
<link rel="stylesheet" href="/static/css/company.css">
{% endblock extraheads %}

{% block content %}

<!-- section.sub-banner -->
{% include "sub_banner.html" %}

<!-- section.company-intro -->
<section class="company-intro content page-start org-wrap">
    <div class="img-wrap org-img">
      <img src="/static/images/org.png" alt="">
      <p class="position position--ceo">CEO</p>
      <p class="box-title box-title--ceo">자문위원회</p>

      <p class="position position--middle team-1">영업1팀</p>
      <p class="position position--middle team-2">영업2팀</p>
      <p class="position position--middle team-3">마케팅팀</p>
      <p class="position position--middle team-4">기술관리팀</p>
      <p class="position position--middle team-5">경영지원팀</p>

      <p class="box-title box-title--middle team-1">화상회의 시스템(VC) 영업</p>
      <p class="box-title box-title--middle team-2">Network Division</p>
      <p class="box-title box-title--middle team-3">유통 채널 관리</p>
      <p class="box-title box-title--middle team-4">기술 유지보수 관리</p>
      <p class="box-title box-title--middle team-5">경영관리</p>

      <p class="team-description team-1">- Yealink Solutions
  Sales Promotion
- Sales channel Promotion</p>
      <p class="team-description team-2">- Network 설계
- Security 설계
- 공공기관 설비 관련 영업</p>
      <p class="team-description team-3">- 마케팅 콘텐츠 기획
- 상품 및 프로모션 기획
- 전시 • 이벤트 기획</p>
      <p class="team-description team-4">- 고객 서비스 기술 지원
- 시스템 해결
- 시스템 설치
- 시스템 유지 보수
- 아웃소싱 관리</p>
      <p class="team-description team-5">- 경영관리
- 재무관리
- 인사/총무 관리
- 수입/수출 업무 지원
-영업 지원</p>

      <p class="box-title box-title--middle-2 team-1">Image Solution</p>
      <p class="team-description-2 team-1">- Projector
- DID Solution
- sensing of movement Solution
- Audio system design</p>

      <p class="box-title box-title--middle-2 team-3">마케팅 디자인</p>
      <p class="team-description-2 team-3">- 홍보 및 제작물 디자인
- 웹페이지 기획 및 운영/관리
- 전시 • 이벤트 홍보물 배포</p>
    </div>
</section>
{% endblock content %}