<!DOCTYPE html>
<html lang="ko">

<head>

    {% include "head.html" %}
    {% block extraheads %}{% endblock extraheads %}
</head>

<body>
    <!-- header -->
    {% include "header.html" %}
    {% include "header_content.html" %}

    {% block content %}{% endblock content %}

    <!-- footer -->
    {% include "footer.html" %}

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- slick -->
    <script type="text/javascript" src="/static/slick/slick.min.js"></script>
    <script>
        $('.slide').slick({
            dots: true,
            infinite: true,
            speed: 2000,
            autoplay: true,
            autoplaySpeed: 2000,
        });

        $('.slide-intro').slick({
            dots: false,
            infinite: true,
            speed: 2000,
            autoplay: false,
            autoplaySpeed: 2000,
            fade: true,
            swipe: false,
        });

        $('.slide-product').slick({
            dots: true,
            infinite: true,
            speed: 3000,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    </script>

    {# FTP로 JS 파일 일부분만 업로드되어서 수정.. #}
    {# <script src="/static/js/navigation.js"></script> #}

    <script>
    console.log("navigation.js");

$('.btn-menu').mouseover(function() {
    console.log("mouseover")
    $('.logo img').attr('src', '/static/images/logo_2.png');
    $('header').addClass('white');
    $('.btn-menu').addClass('color');
    $('.btn-menu').removeClass('active');
    $(this).addClass('active');
    $('.header-content').css('display', 'block');
    if ($(this).hasClass('menu-company') == true) {
        $('.category-box').css('display', 'none');
        $('.company-category').css('display', 'block');
    } else if ($(this).hasClass('menu-products') == true) {
        $('.category-box').css('display', 'none');
        $('.product-category').css('display', 'grid');
    } else if ($(this).hasClass('menu-solution') == true) {
        $('.category-box').css('display', 'none');
        $('.solution-category').css('display', 'grid');
    } else if ($(this).hasClass('menu-support') == true) {
        $('.category-box').css('display', 'none');
        $('.support-category').css('display', 'block');
    }
});
$('.header-content').mouseleave(function() {
    // if($('header').hasClass('.down') == true) {
    $('.logo img').attr('src', '/static/images/logo.png');
    $('header').removeClass('white');
    $('.btn-menu').removeClass('color');
    $('.btn-menu').removeClass('active');
    // }
    $('.btn-menu').removeClass('active');
    $('.category-box').css('display', 'none');
    $('.header-content').css('display', 'none');
});
    </script>

    <script>
      $(function () {
        var $header = $('header'); 
        var $page = $('.page-start');
        var $window = $(window);
        var pageOffsetTop = $page.offset().top;

        $window.resize(function () { 
          pageOffsetTop = $page.offset().top;
        });

        $window.on('scroll', function () {
          var scrolled = $window.scrollTop() >= pageOffsetTop;
          $header.toggleClass('down', scrolled);
        });
      });
    </script>

    <script>
      $('.btn-dropdown').click(function() {
        if($(this).find('.material-icons-round').text() == "arrow_drop_down") {
          $(this).find('.material-icons-round').text("arrow_drop_up");
          $(this).next().fadeIn();
        } else {
          $(this).find('.material-icons-round').text("arrow_drop_down");
          $(this).next().fadeOut();
        }
      });
    </script>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>

    <script>
      /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;
      
      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "grid") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "grid";
        }
        });
      }
    </script>

    {% block extrascripts %}{% endblock extrascripts %}
</body>

</html>