<footer class="content">
    <div class="logo-wrap">
        <img src="/static/images/logo.png" alt="logo footer">
    </div>
    <div class="footer-content">
        <p>(주)지유글로벌</p>
        <p>대표이사 : 박주홍 ｜ 02055 서울특별시 중랑구 신내역로3길 40-36(신내동) A동 801/802호</p>
        <p>영업 문의 : sales@guglobal.com 고객 문의 : help@guglobal.com ｜ TEL : 02 461 0741 ｜ FAX : 02 461 0742</p>
        <p class="copyright">
            COPYRIGHT © (주)지유글로벌 ALL RIGHTS RESERVED.
        </p>
    </div>
    <div class="sns-wrap">
        <!-- <img src="/static/images/btn_yealinkmeeting2.png" alt="" style="cursor:pointer;" onclick="window.open('http://www.yealinkmeeting.co.kr/')"> -->
        <img src="/static/images/btn_yealinkmeeting2.png" alt="" style="cursor:pointer;" onclick="window.open('/solution/YM?name=클라우드%20화상회의')">
        <img src="/static/images/btn_youtube2.png" alt="" style="cursor:pointer;" onclick="window.open('https://www.youtube.com/channel/UCvaT8qpTkYz-JWjA-FVlG1g')">
        <img src="/static/images/btn_insta2.png" alt="" style="cursor:pointer;" onclick="window.open('https://www.instagram.com/gu.global_official/?hl=ko')">
        <img src="/static/images/btn_yealink2.png" alt="" style="cursor:pointer;" onclick="window.open('https://www.yealink.com/')">
        <img src="/static/images/btn_blog2.png" alt="" style="cursor:pointer;" onclick="window.open('https://blog.naver.com/gu_global/222184022631')">
    </div>
</footer>