<header class="main-header">
    <div class="header-top">
        
        <div class="logo">
            <a href="./index.html"><img src="/static/images/logo.png" alt=""></a>
        </div>

        <div class="menu">

            <p class="btn-menu menu-company">
                <a href="">Company</a>
                <span class="company-category category-box">
                    <a href="">회사소개</a>
                    <a href="">조직도</a>
                    <a href="">연혁</a>
                    <a href="">파트너사</a>
                    <a href="">Contact Us</a>
                </span>
                </a>
            </p>

            <p class="btn-menu menu-products">
                <a>Products</a>
            </p>

            <p class="btn-menu menu-solution">
                <a>Solution</a>
            </p>

            <p class="btn-menu menu-support">
                <a> Support</a>
                <span class="support-category category-box">
                    <a href="">공지사항</a>
                    <a href="">인증서</a>
                    <a href="">다운로드센터</a>
                    <a href="">동영상</a>
                    <a href="">문의게시판</a>
                </span>
            </p>

        </div>
        
        <div class="btn-wrapper">
            <a href="javascript:void(0)" class="btn-item">VCMALL</a>
            <a href="javascript:void(0)" class="btn-item btn-item--green">Yealink</a>
        </div>

        <span style="font-size:30px;cursor:pointer" class="open-side" onclick="openNav()">&#9776;</span>

    </div>

</header>