<header class="main-header">
    <div class="header-top">
        
        <div class="logo">
            <a href="/"><img src="/static/images/logo.png" alt=""></a>
        </div>

        <div class="menu">

            <p class="btn-menu menu-company">
                <a href="/company">Company</a>
                <span class="company-category category-box">
                    <a href="/company">회사소개</a>
                    <a href="/company/org">조직도</a>
                    <a href="/company/history">연혁</a>
                    <a href="/company/partner">파트너사</a>
                    <a href="/company/portfolio">포트폴리오</a>
                    <a href="/company/contact">Contact Us</a>
                </span>
                </a>
            </p>

            <p class="btn-menu menu-products">
                <a href="/products">Products</a>
            </p>

            <p class="btn-menu menu-solution">
                <a href="/solution">Solution</a>
            </p>

            <p class="btn-menu menu-support">
                <a href="/support"> Support</a>
                <span class="support-category category-box">
                    <a href="/support">공지사항</a>
                    <a href="/support/certification">인증서</a>
                    <a href="/support/download?type=전체">다운로드센터</a>
                    <a href="/support/video">동영상</a>
                    <a href="/support/contact">문의게시판</a>
                </span>
            </p>

        </div>
        
        <div class="btn-wrapper">
            <a href="https://www.vcmall.co.kr/" target="_blank" class="btn-item">VCMALL</a>
            <a href="https://www.yealink.com/" target="_blank" class="btn-item btn-item--green">Yealink</a>
        </div>

        <span style="font-size:30px;cursor:pointer" class="open-side" onclick="openNav()">&#9776;</span>

    </div>

</header>