<header class="main-header">
    <div class="header-top">
        
        <div class="logo">
            <a href="/"><img src="/static/images/logo.png" alt=""></a>
        </div>

        <div class="menu">

            <p class="btn-menu menu-company">
                <a href="/company">Company</a>
                <span class="company-category category-box">
                    <a href="/company">회사소개</a>
                    <a href="/company/org">조직도</a>
                    <a href="/company/history">연혁</a>
                    <a href="/company/partner">파트너사</a>
                    <a href="/company/portfolio">포트폴리오</a>
                    <a href="/company/contact">Contact Us</a>
                </span>
                </a>
            </p>

            <p class="btn-menu menu-products">
                <a href="{{banner_1.Products}}">Products</a>
            </p>

            <p class="btn-menu menu-solution">
                <a href="/solution">Solution</a>
            </p>

            <p class="btn-menu menu-support">
                <a href="/support"> Support</a>
                <span class="support-category category-box">
                    <a href="/support">공지사항</a>
                    <!-- <a href="/support/certification">인증서</a> -->
                    <a href="/support/download?type=전체">다운로드센터</a>
                    <a href="/support/video">동영상</a>
                    <a href="/support/contact">문의게시판</a>
                </span>
            </p>

        </div>
        
        <div class="btn-wrapper">
          <a href="https://www.vcmall.co.kr/" target="_blank" class="btn-item">VCMALL</a>
          <a href="https://www.yealink.com/" target="_blank" class="btn-item btn-item--green">Yealink</a>
          <span class="open-side" onclick="openNav()">&#9776;</span>
        </div>


    </div>

</header>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <button class="dropdown-btn">Company 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container dropdown--company">
    <a href="/company">회사소개</a>
    <a href="/company/org">조직도</a>
    <a href="/company/history">연혁</a>
    <a href="/company/partner">파트너사</a>
    <a href="/company/portfolio">포트폴리오</a>
    <a href="/company/contact">Contact Us</a>
  </div>
  <button class="dropdown-btn">Product 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <button class="dropdown-btn">Yealink 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container dropdown--product">
      {% for yealink in yealink_list %}
      <a href="/products/Yealink/{{yealink.name}}">{{yealink.name}}</a>
      {% endfor %}
    </div>
    <button class="dropdown-btn">SONY 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container dropdown--product">
      {% for sony in sony_list %}
      <a href="/products/SONY/{{sony.name}}">{{sony.name}}</a>
      {% endfor %}
    </div>
    <button class="dropdown-btn">Other 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container dropdown--product">
      {% for other in other_list %}
      <a href="/products/Other/{{other.name}}">{{other.name}}</a>
      {% endfor %}
    </div>
  </div>
  <button class="dropdown-btn">Solution 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="">범용 USB 화상회의</a>
    <a href="/solution/yms">구축형 화상회의</a>
    <a href="/solution">스탠다드 화상회의 (H.323/SIP)</a>
    <a href="/solution/ym">클라우드 화상회의</a>
    <a href="/solution/ms">MS Teams 화상회의</a>
    <a href="">MS Teams Phone</a>
    <a href="">SIP Phone</a>
    <a href="">화자 추적 회의실 마이크 시스템</a>
    <a href="/solution/sony">스마트 강의</a>
    <a href="">스튜디오</a>
  </div>
  <button class="dropdown-btn">Contact 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container  dropdown--contact">
    <a href="/support">공지사항</a>
    <!-- <a href="/support/certification">인증서</a> -->
    <a href="/support/download?type=전체">다운로드센터</a>
    <a href="/support/video">동영상</a>
    <a href="/support/contact">문의게시판</a>
  </div>
</div>