<section class="sub-banner" style="background-image: url('/static/images/company-bg.png'); background-position: top;">
    <div class="overlay">
        <div class="title-wrap">
            <p class="sub-subtitle">Company</p>
            <h2 class="sub-title">회사소개</h2>
        </div>
    </div>
    <div class="navbar">
        <div class="home-icon">
            <i class="fas fa-home"></i>
        </div>
        <div class="category-wrap">
            <div class="category-item">
                <p>Company</p>
                <a href="javascript:void(0)" class="btn-dropdown">
                    <span class="material-icons-round">arrow_drop_down_circle</span>
                </a>
            </div>
            <p class="next-arrow">></p>
            <div class="category-item">
                <p>회사소개</p>
                <a href="javascript:void(0)" class="btn-dropdown">
                    <span class="material-icons-round">arrow_drop_down_circle</span>
                </a>
            </div>
            <p class="next-arrow"></p>
            <div class="category-item">

            </div>
        </div>
    </div>

</section>