<section class="sub-banner" style="background-image: url('/static/images/company-bg.png'); background-position: top;">
    <div class="overlay">
        <div class="title-wrap">
            <p class="sub-subtitle">Company</p>
            <h2 class="sub-title">회사소개</h2>
        </div>
    </div>
    <div class="navbar">
        <div class="home-icon" onclick="location.href='/'" style="cursor: pointer;">
            <i class="fas fa-home"></i>
        </div>
        <div class="category-wrap">

            <div class="category-item">
                <p>{{current_page.0}}</p>
                <a href="javascript:void(0)" class="btn-dropdown">
                    <span class="material-icons-round">arrow_drop_down</span>
                </a>
                <div class="brief-menu">
                    {% for key, value in banner_1.items %}
                    <a href="{{value}}">{{key}}</a>
                    {% endfor %}
                </div>
            </div>

            <p class="next-arrow">></p>

            <div class="category-item">
                <p>{{current_page.1}}</p>
                <a href="javascript:void(0)" class="btn-dropdown">
                    <span class="material-icons-round">arrow_drop_down</span>
                </a>
                <div class="brief-menu">
                    {% for key, value in banner_2.items %}
                    <a href="{{value}}">{{key}}</a>
                    {% endfor %}
                </div>
            </div>

            {% if banner_3 %}
            <p class="next-arrow"></p>

            <div class="category-item">
                <p>{{current_page.2}}</p>
                <a href="javascript:void(0)" class="btn-dropdown">
                    <span class="material-icons-round">arrow_drop_down</span>
                </a>
                <div class="brief-menu">
                    {% for key, value in banner_3.items %}
                    <a href="{{value}}">{{key}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}


        </div>
    </div>

</section>