<section class="sub-banner" style="background-image: url('/static/images/company-bg.png'); background-position: top;">
    <div class="overlay">
        <div class="title-wrap">
            <p class="sub-subtitle">Company</p>
            <h2 class="sub-title">회사소개</h2>
        </div>
    </div>
    <div class="navbar">
        <div class="home-icon" onclick="location.href='/'" style="cursor: pointer;">
            <i class="fas fa-home"></i>
        </div>
        <div class="category-wrap">
            <div class="category-item">
                <p>Company</p>
                <a href="javascript:void(0)" class="btn-dropdown">
                    <span class="material-icons-round">arrow_drop_down</span>
                </a>
                <div class="brief-menu first">
                  <a href="/company">회사소개</a>
                  <a href="/company/org">조직도</a>
                  <a href="/company/history">연혁</a>
                  <a href="/company/partner">파트너사</a>
                  <a href="/company/portfolio">포트폴리오</a>
                  <a href="/company/contact">Contact Us</a>
                </div>
            </div>
            <p class="next-arrow">></p>
            <div class="category-item">
                <p>회사소개</p>
                <a href="javascript:void(0)" class="btn-dropdown">
                    <span class="material-icons-round">arrow_drop_down</span>
                </a>
                <div class="brief-menu second">
                  <a href="/company">회사소개</a>
                  <a href="/company/org">조직도</a>
                  <a href="/company/history">연혁</a>
                  <a href="/company/partner">파트너사</a>
                  <a href="/company/portfolio">포트폴리오</a>
                  <a href="/company/contact">Contact Us</a>
                </div>
            </div>
            <p class="next-arrow third"></p>
            <div class="category-item">
              <p>회사소개</p>
                <a href="javascript:void(0)" class="btn-dropdown">
                    <span class="material-icons-round">arrow_drop_down</span>
                </a>
                <div class="brief-menu">
                  <a href="/company">회사소개</a>
                  <a href="/company/org">조직도</a>
                  <a href="/company/history">연혁</a>
                  <a href="/company/partner">파트너사</a>
                  <a href="/company/portfolio">포트폴리오</a>
                  <a href="/company/contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

</section>